Copyright (c) Microsoft Corporation. All rights reserved.  
Licensed under the MIT License.

![Impressions](https://PixelServer20190423114238.azurewebsites.net/api/impressions/NotebookVM/how-to-use-azureml/machine-learning-pipelines/intro-to-pipelines/aml-pipelines-with-data-dependency-steps.png)

# Azure Machine Learning Data Prep
In this notebook, we will see how we can do data prep using the azureml.dataprep SDK.

### Azure Machine Learning and Pipeline SDK-specific Imports

In [1]:
import azureml.core
import azureml.dataprep
from azureml.core import Workspace, Experiment, Datastore, Dataset
from azureml.core.compute import AmlCompute
from azureml.core.compute import ComputeTarget
from azureml.widgets import RunDetails
from azureml.data import TabularDataset
from azureml.data.datapath import DataPath
from azureml.data.data_reference import DataReference
from azureml.pipeline.core import Pipeline, PipelineData
from azureml.pipeline.steps import PythonScriptStep

import azureml.dataprep as dprep

# Check core SDK version number
print("SDK version:", azureml.core.VERSION)

SDK version: 1.0.83

### Initialize Workspace and Retrieve a Compute Target

In [2]:
ws = Workspace.from_config()
print("== Workspace:")
print(ws.name, ws.resource_group, ws.location, ws.subscription_id, sep = '\n')

# Default datastore (Azure blob storage)
# def_blob_store = ws.get_default_datastore()
blob_store = Datastore(ws, "workspaceblobstore")
print("== Datastore: {}".format(blob_store.name))

# list compute targets
print("== Compute targets:")
for ct in ws.compute_targets:
    print("  " + ct)
    
# Retrieve a compute target    
from azureml.core.compute_target import ComputeTargetException
aml_compute_target = "agd-training-cpu"
try:
    aml_compute = AmlCompute(ws, aml_compute_target)
    print("== AML compute target attached: " + aml_compute_target)
except ComputeTargetException:
    print("== AML compute target not found: " + aml_compute_target)

== Workspace:
agd-mlws
azure-ml-workshop
westus2
c5ec24ce-9c5f-4da2-bf12-9ca8e9758d60
== Datastore: workspaceblobstore
== Compute targets:
  agd-inference
  agd-inference-v
  agd-training-gpu
  agd-training-cpu
== AML compute target attached: agd-training-cpu

### Create Compute Configuration

This step uses a docker image, use a [**RunConfiguration**](https://docs.microsoft.com/en-us/python/api/azureml-core/azureml.core.runconfiguration?view=azure-ml-py) to specify these requirements and use when creating the PythonScriptStep.

In [3]:
from azureml.core.runconfig import RunConfiguration
from azureml.core.runconfig import DEFAULT_CPU_IMAGE
from azureml.core.conda_dependencies import CondaDependencies

# create a new runconfig object
run_config = RunConfiguration()

# enable Docker 
run_config.environment.docker.enabled = True

# set Docker base image to the default CPU-based image
run_config.environment.docker.base_image = DEFAULT_CPU_IMAGE

# use conda_dependencies.yml to create a conda environment in the Docker image for execution
run_config.environment.python.user_managed_dependencies = False

# specify dependencies
#run_config.environment.python.conda_dependencies = CondaDependencies.create(
#    conda_packages=['pandas'],
#    pip_packages=['azureml-sdk', 'azureml-dataprep[fuse,pandas]', 'azureml-train-automl'], 
#    pin_sdk_version=False)
run_config.environment.python.conda_dependencies = CondaDependencies(
    conda_dependencies_file_path='data-prep-pipeline.yml')

#
print("== Run Configuration created")

== Run Configuration created

## Building Pipeline Steps with Inputs and Outputs
As mentioned earlier, a step in the pipeline can take data as input. This data can be a data source that lives in one of the accessible data locations, or intermediate data produced by a previous step in the pipeline.

### Data inputs / output definitions

In [4]:
# inputs

# output
d_use_case_1_dataprep_sdk_pd = PipelineData("d_use_case_1_dataprep_sdk",datastore=blob_store)

print("== Datasets defined")

== Datasets defined

In [110]:
# In notebook development of the dataprep.py script
h_ts_1_dflow = dprep.read_csv(DataPath(blob_store,'datasets/time-series/S_ACTUALS.csv'))
h_ts_2_dflow = dprep.read_csv(DataPath(blob_store,'datasets/time-series/W_ACTUALS.csv'))
h_ts_3_dflow = dprep.read_csv(DataPath(blob_store,'datasets/time-series/C_LOAD.csv'))
d_ts_1_dflow = dprep.read_csv(DataPath(blob_store,'datasets/time-series/X1.csv'))
d_ts_2_dflow = dprep.read_csv(DataPath(blob_store,'datasets/time-series/X2.csv'))

In [111]:
h_ts_1_dflow.head(6)

     MYDATE HOUR NODE_ID            MW
0  1/1/2012    1      N1    2.78994586
1  1/1/2012    1      S1  -3.860853503
2  1/1/2012    1      Z1  -0.675159236
3  1/1/2012    2      N1   2.785633758
4  1/1/2012    2      S1  -3.788318471
5  1/1/2012    2      Z1  -0.675159236

In [112]:
h_ts_1_dflow.get_profile()

ColumnProfile:
    column_name: MYDATE
    type: FieldType.STRING

    min: 1/1/2012
    max: 9/9/2015
    count: 100799.0
    missing_count: 0.0
    not_missing_count: 100799.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: >1000


ColumnProfile:
    column_name: HOUR
    type: FieldType.STRING

    min: 1
    max: 9
    count: 100799.0
    missing_count: 0.0
    not_missing_count: 100799.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: 25


ColumnProfile:
    column_name: NODE_ID
    type: FieldType.STRING

    min: N1
    max: Z1
    count: 100799.0
    missing_count: 0.0
    not_missing_count: 100799.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: 3


ColumnProfile:
    column_name: MW
    type: FieldType.STRING

    min: -0.00033121
    max: 999.9626592
    count: 100799.0
    missing_count: 0.0
    not_missing_count: 100799.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: >1000

In [113]:
# discover data types
builder = h_ts_1_dflow.builders.set_column_types()
builder.learn()
builder.conversion_candidates

{'MYDATE': [
     (FieldType.DATE, ['%d/%m/%Y']),
     (FieldType.DATE, ['%m/%d/%Y'])],
 'HOUR': [FieldType.INTEGER],
 'NODE_ID': [FieldType.STRING],
 'MW': [FieldType.DECIMAL]}

In [114]:
# resolve MYDATE type ambiguity
builder.conversion_candidates['MYDATE'] = (dprep.FieldType.DATE, ['%m/%d/%Y'])
h_ts_1_dflow = builder.to_dataflow()
h_ts_1_dflow.get_profile()

ColumnProfile:
    column_name: MYDATE
    type: FieldType.DATE

    min: 2012-01-01 00:00:00+00:00
    max: 2016-02-29 00:00:00+00:00
    count: 100799.0
    missing_count: 0.0
    not_missing_count: 100799.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: >1000


ColumnProfile:
    column_name: HOUR
    type: FieldType.INTEGER

    min: 1.0
    max: 25.0
    count: 100799.0
    missing_count: 0.0
    not_missing_count: 100799.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: 25


    Quantiles (est.):
         0.1%: 1.0
           1%: 3.0
           5%: 3.0
          25%: 6.280181437543616
          50%: 12.012695524224918
          75%: 18.014481290397757
          95%: 23.0
          99%: 24.0
        99.9%: 24.0

    mean: 12.460738697804402
    std: 6.907259662868034
    variance: 47.710236050283825
    skewness: 0.0036578017311426395
    kurtosis: -1.2029709438633926
    whisker_top: 25.0
    whisker_bottom: 1.0

ColumnProfile:
    column_name: NODE_ID
    type: FieldType.STRING

    min: N1
    max: Z1
    count: 100799.0
    missing_count: 0.0
    not_missing_count: 100799.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: 3


ColumnProfile:
    column_name: MW
    type: FieldType.DECIMAL

    min: -32.79379299
    max: 2437.806994
    count: 100799.0
    missing_count: 0.0
    not_missing_count: 100799.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: >1000


    Quantiles (est.):
         0.1%: -10.571129420450223
           1%: -3.6597893532518473
           5%: -3.768317187455497
          25%: -1.146160502285121
          50%: 7.832329596818294
          75%: 314.0279976098775
          95%: 1608.3070822599539
          99%: 2131.8776554352976
        99.9%: 2370.146205691199

    mean: 274.5344220908082
    std: 506.66070845865056
    variance: 256705.07349582168
    skewness: 2.3245959524802595
    kurtosis: 4.63075898767753
    whisker_top: 669.4400007635655
    whisker_bottom: -32.79379299

In [172]:
# instead 'auto_read_file' will do type auto detect (when it can), and other things (auto skip first rows, will find the right header, etc)
h_ts_1_dflow = dprep.auto_read_file(DataPath(blob_store,'datasets/time-series/S_ACTUALS.csv'))
h_ts_1_dflow.get_profile()

ColumnProfile:
    column_name: MYDATE
    type: FieldType.STRING

    min: 1/1/2012
    max: 9/9/2015
    count: 100799.0
    missing_count: 0.0
    not_missing_count: 100799.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: >1000


ColumnProfile:
    column_name: HOUR
    type: FieldType.INTEGER

    min: 1.0
    max: 25.0
    count: 100799.0
    missing_count: 0.0
    not_missing_count: 100799.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: 25


    Quantiles (est.):
         0.1%: 1.0
           1%: 3.0
           5%: 3.0
          25%: 6.280181437543616
          50%: 12.012695524224918
          75%: 18.014481290397757
          95%: 23.0
          99%: 24.0
        99.9%: 24.0

    mean: 12.460738697804402
    std: 6.907259662868034
    variance: 47.710236050283825
    skewness: 0.0036578017311426395
    kurtosis: -1.2029709438633926
    whisker_top: 25.0
    whisker_bottom: 1.0

ColumnProfile:
    column_name: NODE_ID
    type: FieldType.STRING

    min: N1
    max: Z1
    count: 100799.0
    missing_count: 0.0
    not_missing_count: 100799.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: 3


ColumnProfile:
    column_name: MW
    type: FieldType.DECIMAL

    min: -32.79379299
    max: 2437.806994
    count: 100799.0
    missing_count: 0.0
    not_missing_count: 100799.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: >1000


    Quantiles (est.):
         0.1%: -10.571129420450223
           1%: -3.6597893532518473
           5%: -3.768317187455497
          25%: -1.146160502285121
          50%: 7.832329596818294
          75%: 314.0279976098775
          95%: 1608.3070822599539
          99%: 2131.8776554352976
        99.9%: 2370.146205691199

    mean: 274.5344220908082
    std: 506.66070845865056
    variance: 256705.07349582168
    skewness: 2.3245959524802595
    kurtosis: 4.63075898767753
    whisker_top: 669.4400007635655
    whisker_bottom: -32.79379299

In [173]:
# =================
# dataprep.py (WIP)
# =================

h_ts_1_dflow = dprep.auto_read_file(DataPath(blob_store,'datasets/time-series/S_ACTUALS.csv'))
h_ts_2_dflow = dprep.auto_read_file(DataPath(blob_store,'datasets/time-series/W_ACTUALS.csv'))
h_ts_3_dflow = dprep.auto_read_file(DataPath(blob_store,'datasets/time-series/C_LOAD.csv'))
d_ts_1_dflow = dprep.auto_read_file(DataPath(blob_store,'datasets/time-series/X1.csv'))
d_ts_2_dflow = dprep.auto_read_file(DataPath(blob_store,'datasets/time-series/X2.csv'))

# =============================
# end of dataprep.py code (WIP)
# =============================

In [176]:
# ts_1 and ts_2 need to be pivoted
h_ts_1_dflow.head(6)

     MYDATE  HOUR NODE_ID        MW
0  1/1/2012     1      N1  2.789946
1  1/1/2012     1      S1 -3.860854
2  1/1/2012     1      Z1 -0.675159
3  1/1/2012     2      N1  2.785634
4  1/1/2012     2      S1 -3.788318
5  1/1/2012     2      Z1 -0.675159

In [177]:
# PIVOT data
h_ts_1_pivot_dflow = h_ts_1_dflow.pivot(['NODE_ID'],'MW',
                                        azureml.dataprep.api.engineapi.typedefinitions.SummaryFunction.MAX,
                                        ['MYDATE','HOUR'])
h_ts_1_pivot_dflow.head(2)

     MYDATE  HOUR        N1        S1        Z1
0  1/1/2012     1  2.789946 -3.860854 -0.675159
1  1/1/2012     2  2.785634 -3.788318 -0.675159

In [178]:
# using derive_column_by_example to reformat DATE/HOUR as a DATETIME field
builder = h_ts_1_pivot_dflow.builders.derive_column_by_example(source_columns = ['MYDATE','HOUR'], new_column_name = 'DATETIME')
builder.add_example(source_data = {'MYDATE': '1/1/2012', 'HOUR': 1}, example_value = '01/01/2012 01:00')
builder.add_example(source_data = {'MYDATE': '10/10/2012', 'HOUR': 15}, example_value = '10/10/2012 15:00')
builder.add_example(source_data = {'MYDATE': '1/17/2012', 'HOUR': 12}, example_value = '01/17/2012 12:00')
builder.preview(skip=3000,count=20)

       MYDATE  HOUR          DATETIME
0   5/14/2012     7  05/14/2012 07:00
1   5/14/2012     8  05/14/2012 08:00
2   5/14/2012     9  05/14/2012 09:00
3   5/14/2012    10  05/14/2012 10:00
4   5/14/2012    11  05/14/2012 11:00
5   5/14/2012    12  05/14/2012 12:00
6   5/14/2012    13  05/14/2012 13:00
7   5/14/2012    14  05/14/2012 14:00
8   5/14/2012    15  05/14/2012 15:00
9   5/14/2012    16  05/14/2012 16:00
10  5/14/2012    17  05/14/2012 17:00
11  5/14/2012    18  05/14/2012 18:00
12  5/14/2012    19  05/14/2012 19:00
13  5/14/2012    20  05/14/2012 20:00
14  5/14/2012    21  05/14/2012 21:00
15  5/14/2012    22  05/14/2012 22:00
16  5/14/2012    23  05/14/2012 23:00
17  5/15/2012     1  05/15/2012 01:00
18  5/15/2012     2  05/15/2012 02:00
19  5/15/2012     3  05/15/2012 03:00

In [179]:
h_ts_1_pivot_dt_dflow = builder.to_dataflow()
h_ts_1_pivot_dt_dflow.head(6)

     MYDATE  HOUR          DATETIME        N1        S1        Z1
0  1/1/2012     1  01/01/2012 01:00  2.789946 -3.860854 -0.675159
1  1/1/2012     2  01/01/2012 02:00  2.785634 -3.788318 -0.675159
2  1/1/2012     3  01/01/2012 03:00  2.786000 -3.887990 -0.676115
3  1/1/2012     4  01/01/2012 04:00  2.785965 -4.119672 -0.700669
4  1/1/2012     5  01/01/2012 05:00  2.790325 -4.828436 -0.702354
5  1/1/2012     6  01/01/2012 06:00  2.788650 -5.092978 -0.706051

In [180]:
h_ts_1_pivot_dt_dflow.dtypes

MYDATE                   FieldType.STRING
HOUR                     FieldType.INTEGER
DATETIME                 FieldType.STRING
N1                       FieldType.DECIMAL
S1                       FieldType.DECIMAL
Z1                       FieldType.DECIMAL

In [146]:
h_ts_1_pivot_dt_dflow = h_ts_1_pivot_dflow.derive_column_by_example(
    source_columns = ['MYDATE','HOUR'],
    new_column_name = 'DATETIME',
    example_data = [({'MYDATE': '1/1/2012', 'HOUR': '1'},    '01/01/2012 01:00'),
                    ({'MYDATE': '10/10/2012', 'HOUR': '15'}, '10/10/2012 15:00'),
                    ({'MYDATE': '1/17/2012', 'HOUR': '12'},  '01/17/2012 12:00')]
    ).drop_columns(['MYDATE','HOUR'])
h_ts_1_pivot_dt_dflow.head(4)

           DATETIME        N1        S1        Z1
0  01/01/2012 01:00  2.789946 -3.860854 -0.675159
1  01/01/2012 02:00  2.785634 -3.788318 -0.675159
2  01/01/2012 03:00  2.786000 -3.887990 -0.676115
3  01/01/2012 04:00  2.785965 -4.119672 -0.700669

In [151]:
builder = h_ts_1_pivot_dt_dflow.builders.set_column_types()
builder.learn()
builder.conversion_candidates

{'DATETIME': [
     (FieldType.DATE, ['%d/%m/%Y %H:%M']),
     (FieldType.DATE, ['%m/%d/%Y %H:%M'])],
 'N1': [FieldType.DECIMAL],
 'S1': [FieldType.DECIMAL],
 'Z1': [FieldType.DECIMAL]}

In [154]:
builder.conversion_candidates['DATETIME'] = (dprep.FieldType.DATE, ['%d/%m/%Y %H:%M'])
h_ts_1_pivot_dt_dflow = builder.to_dataflow()
h_ts_1_pivot_dt_dflow.head(4)

             DATETIME        N1        S1        Z1
0 2012-01-01 01:00:00  2.789946 -3.860854 -0.675159
1 2012-01-01 02:00:00  2.785634 -3.788318 -0.675159
2 2012-01-01 03:00:00  2.786000 -3.887990 -0.676115
3 2012-01-01 04:00:00  2.785965 -4.119672 -0.700669

In [155]:
h_ts_1_pivot_dt_dflow.dtypes

DATETIME                 FieldType.DATE
N1                       FieldType.DECIMAL
S1                       FieldType.DECIMAL
Z1                       FieldType.DECIMAL

In [156]:
h_ts_1_pivot_dt_dflow.get_profile()

ColumnProfile:
    column_name: DATETIME
    type: FieldType.DATE

    min: 2012-01-01 01:00:00+00:00
    max: 2016-12-02 23:00:00+00:00
    count: 33600.0
    missing_count: 4.0
    not_missing_count: 33596.0
    percent_missing: 0.00011904761904761905
    error_count: 20391.0
    empty_count: 0.0
    unique_values: >1000


ColumnProfile:
    column_name: N1
    type: FieldType.DECIMAL

    min: -32.79379299
    max: 473.7128726
    count: 33600.0
    missing_count: 0.0
    not_missing_count: 33600.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: >1000


    Quantiles (est.):
         0.1%: -7.025677830231034
           1%: -1.0030613424207708
           5%: -1.0072722032887316
          25%: -0.7389483717964089
          50%: 5.2802210182416545
          75%: 196.0821959583416
          95%: 391.0863790761727
          99%: 433.92401247820624
        99.9%: 452.9417783546565

    mean: 102.11390110085837
    std: 137.34226906825802
    variance: 18862.898872817786
    skewness: 1.0418997634714404
    kurtosis: -0.3231499648465861
    whisker_top: 473.7128726
    whisker_bottom: -32.79379299

ColumnProfile:
    column_name: S1
    type: FieldType.DECIMAL

    min: -14.54673885
    max: 2437.806994
    count: 33600.0
    missing_count: 0.0
    not_missing_count: 33600.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: >1000


    Quantiles (est.):
         0.1%: -10.919472553198872
           1%: -7.4515687637298935
           5%: -7.494091646694268
          25%: -5.270855174007013
          50%: 27.986437281645415
          75%: 1280.7014079543535
          95%: 2024.9632281299187
          99%: 2282.6089507137963
        99.9%: 2396.8094555266675

    mean: 592.0493440116473
    std: 755.0785206918175
    variance: 570143.5724101436
    skewness: 0.8252336969946245
    kurtosis: -0.8604729867840155
    whisker_top: 2437.806994
    whisker_bottom: -14.54673885

ColumnProfile:
    column_name: Z1
    type: FieldType.DECIMAL

    min: -2.303792994
    max: 563.445465
    count: 33600.0
    missing_count: 1.0
    not_missing_count: 33599.0
    percent_missing: 2.9761904761904762e-05
    error_count: 0.0
    empty_count: 0.0
    unique_values: >1000


    Quantiles (est.):
         0.1%: -2.1119176180779
           1%: -1.6192206672276486
           5%: -1.6239172261531536
          25%: -1.3503939871849773
          50%: 4.7235581590573235
          75%: 270.32804234496274
          95%: 468.6239242215337
          99%: 522.2197546794679
        99.9%: 553.7065203450411

    mean: 129.43570274564456
    std: 171.79983262836285
    variance: 29515.18249113349
    skewness: 0.9380295945346698
    kurtosis: -0.6383515816969609
    whisker_top: 563.445465
    whisker_bottom: -2.303792994

In [185]:
# =================
# dataprep.py (WIP)
# =================

h_ts_1_dflow = dprep.auto_read_file(DataPath(blob_store,'datasets/time-series/S_ACTUALS.csv'))
h_ts_2_dflow = dprep.auto_read_file(DataPath(blob_store,'datasets/time-series/W_ACTUALS.csv'))
h_ts_3_dflow = dprep.auto_read_file(DataPath(blob_store,'datasets/time-series/C_LOAD.csv'))
d_ts_1_dflow = dprep.auto_read_file(DataPath(blob_store,'datasets/time-series/X1.csv'))
d_ts_2_dflow = dprep.auto_read_file(DataPath(blob_store,'datasets/time-series/X2.csv'))

# Pivot data
h_ts_1_pivot_dflow = h_ts_1_dflow.pivot(['NODE_ID'],'MW',
                                        azureml.dataprep.api.engineapi.typedefinitions.SummaryFunction.MAX,
                                        ['MYDATE','HOUR'])
h_ts_2_pivot_dflow = h_ts_2_dflow.pivot(['NODE_ID'],'MW',
                                        azureml.dataprep.api.engineapi.typedefinitions.SummaryFunction.MAX,
                                        ['MYDATE','HOUR'])

# merge DATE and HOUR and update datatype for DATETIME column
def ts_merge_date_hour_to_datetime(dflow, date_column_name, hour_column_name):
    # merge columns
    dflow = dflow.derive_column_by_example(
        source_columns = [date_column_name,hour_column_name],
        new_column_name = 'DATETIME',
        example_data = [({date_column_name: '1/1/2012', hour_column_name: '1'},    '01/01/2012 01:00'),
                        ({date_column_name: '10/10/2012', hour_column_name: '15'}, '10/10/2012 15:00'),
                        ({date_column_name: '1/17/2012', hour_column_name: '12'},  '01/17/2012 12:00')]
        ).drop_columns([date_column_name,hour_column_name])
    # update data type
    builder = dflow.builders.set_column_types()
    builder.learn()
    builder.conversion_candidates['DATETIME'] = (dprep.FieldType.DATE, ['%d/%m/%Y %H:%M'])
    return builder.to_dataflow()

# generate all DATETIME columns with proper data type
h_ts_1_pivot_dt_dflow = ts_merge_date_hour_to_datetime(h_ts_1_pivot_dflow,'MYDATE','HOUR')
h_ts_2_pivot_dt_dflow = ts_merge_date_hour_to_datetime(h_ts_2_pivot_dflow,'MYDATE','HOUR')
h_ts_3_dt_dflow =       ts_merge_date_hour_to_datetime(h_ts_3_dflow,      'DATE','HE')

# =============================
# end of dataprep.py code (WIP)
# =============================

In [186]:
# check profile
h_ts_1_pivot_dt_dflow.get_profile()

ColumnProfile:
    column_name: DATETIME
    type: FieldType.DATE

    min: 2012-01-01 01:00:00+00:00
    max: 2016-12-02 23:00:00+00:00
    count: 33600.0
    missing_count: 4.0
    not_missing_count: 33596.0
    percent_missing: 0.00011904761904761905
    error_count: 20391.0
    empty_count: 0.0
    unique_values: >1000


ColumnProfile:
    column_name: N1
    type: FieldType.DECIMAL

    min: -32.79379299
    max: 473.7128726
    count: 33600.0
    missing_count: 0.0
    not_missing_count: 33600.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: >1000


    Quantiles (est.):
         0.1%: -7.025677830231034
           1%: -1.0030613424207708
           5%: -1.0072722032887316
          25%: -0.7389483717964089
          50%: 5.2802210182416545
          75%: 196.0821959583416
          95%: 391.0863790761727
          99%: 433.92401247820624
        99.9%: 452.9417783546565

    mean: 102.11390110085837
    std: 137.34226906825802
    variance: 18862.898872817786
    skewness: 1.0418997634714404
    kurtosis: -0.3231499648465861
    whisker_top: 473.7128726
    whisker_bottom: -32.79379299

ColumnProfile:
    column_name: S1
    type: FieldType.DECIMAL

    min: -14.54673885
    max: 2437.806994
    count: 33600.0
    missing_count: 0.0
    not_missing_count: 33600.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: >1000


    Quantiles (est.):
         0.1%: -10.919472553198872
           1%: -7.4515687637298935
           5%: -7.494091646694268
          25%: -5.270855174007013
          50%: 27.986437281645415
          75%: 1280.7014079543535
          95%: 2024.9632281299187
          99%: 2282.6089507137963
        99.9%: 2396.8094555266675

    mean: 592.0493440116473
    std: 755.0785206918175
    variance: 570143.5724101436
    skewness: 0.8252336969946245
    kurtosis: -0.8604729867840155
    whisker_top: 2437.806994
    whisker_bottom: -14.54673885

ColumnProfile:
    column_name: Z1
    type: FieldType.DECIMAL

    min: -2.303792994
    max: 563.445465
    count: 33600.0
    missing_count: 1.0
    not_missing_count: 33599.0
    percent_missing: 2.9761904761904762e-05
    error_count: 0.0
    empty_count: 0.0
    unique_values: >1000


    Quantiles (est.):
         0.1%: -2.1119176180779
           1%: -1.6192206672276486
           5%: -1.6239172261531536
          25%: -1.3503939871849773
          50%: 4.7235581590573235
          75%: 270.32804234496274
          95%: 468.6239242215337
          99%: 522.2197546794679
        99.9%: 553.7065203450411

    mean: 129.43570274564456
    std: 171.79983262836285
    variance: 29515.18249113349
    skewness: 0.9380295945346698
    kurtosis: -0.6383515816969609
    whisker_top: 563.445465
    whisker_bottom: -2.303792994

In [187]:
# check profile
d_ts_1_dflow.get_profile()

ColumnProfile:
    column_name: RDATE
    type: FieldType.DATE

    min: 2012-01-01 00:00:00+00:00
    max: 2016-02-29 00:00:00+00:00
    count: 1521.0
    missing_count: 0.0
    not_missing_count: 1521.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: >1000


ColumnProfile:
    column_name: X1
    type: FieldType.DECIMAL

    min: 50.4
    max: 106.8
    count: 1521.0
    missing_count: 0.0
    not_missing_count: 1521.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: 245


    Quantiles (est.):
         0.1%: 50.64620000000001
           1%: 62.17373015873015
           5%: 62.02222222222222
          25%: 69.172
          50%: 78.16597222222224
          75%: 88.08933333333334
          95%: 95.78331168831168
          99%: 100.63349999999997
        99.9%: 105.98320000000004

    mean: 78.12189349112435
    std: 11.558715125813139
    variance: 133.60389535970145
    skewness: -0.07667155496676725
    kurtosis: -0.9017535343731198
    whisker_top: 106.8
    whisker_bottom: 50.4

In [189]:
# JOINING DATA SET h_ts_j1=h1,h2
h_ts_j1_dflow = dprep.Dataflow.join(
    h_ts_1_pivot_dt_dflow,
    h_ts_2_pivot_dt_dflow,
    join_key_pairs=[('DATETIME', 'DATETIME')],
    left_column_prefix='h1_',
    right_column_prefix='h2_'
).drop_columns('h2_DATETIME').rename_columns({'h1_DATETIME':'DATETIME'})
h_ts_j1_dflow.head(5)

             DATETIME     h1_N1     h1_S1     h1_Z1       h2_N1      h2_S1
0 2012-01-01 01:00:00  2.789946 -3.860854 -0.675159  214.201076  76.939389
1 2012-01-01 02:00:00  2.785634 -3.788318 -0.675159  208.534389  66.742051
2 2012-01-01 03:00:00  2.786000 -3.887990 -0.676115  188.653331  70.460099
3 2012-01-01 04:00:00  2.785965 -4.119672 -0.700669  192.039484  76.141580
4 2012-01-01 05:00:00  2.790325 -4.828436 -0.702354  204.381194  79.607589

In [190]:
# JOINING DATA SET h_ts_dflow=h_ts_j1,h3
h_ts_dflow = dprep.Dataflow.join(
    h_ts_j1_dflow,
    h_ts_3_dt_dflow,
    join_key_pairs=[('DATETIME', 'DATETIME')],
    left_column_prefix='',
    right_column_prefix='h3_'
).drop_columns('h3_DATETIME')
h_ts_dflow.head(5)

,DATETIME,h1_N1,h1_S1,h1_Z1,h2_N1,h2_S1,h3_CLOAD
0,2012-01-01 01:00:00,2.789946,-3.860854,-0.675159,214.201076,76.939389,7458.280255
1,2012-01-01 02:00:00,2.785634,-3.788318,-0.675159,208.534389,66.742051,7214.649682
2,2012-01-01 03:00:00,2.786000,-3.887990,-0.676115,188.653331,70.460099,7018.789809
3,2012-01-01 04:00:00,2.785965,-4.119672,-0.700669,192.039484,76.141580,6912.420382
4,2012-01-01 05:00:00,2.790325,-4.828436,-0.702354,204.381194,79.607589,6913.057325

In [268]:
# =================
# dataprep.py (WIP)
# =================

h_ts_1_dflow = dprep.auto_read_file(DataPath(blob_store,'datasets/time-series/S_ACTUALS.csv'))
h_ts_2_dflow = dprep.auto_read_file(DataPath(blob_store,'datasets/time-series/W_ACTUALS.csv'))
h_ts_3_dflow = dprep.auto_read_file(DataPath(blob_store,'datasets/time-series/C_LOAD.csv'))
d_ts_1_dflow = dprep.auto_read_file(DataPath(blob_store,'datasets/time-series/X1.csv'))
d_ts_2_dflow = dprep.auto_read_file(DataPath(blob_store,'datasets/time-series/X2.csv'))

# Pivot data
h_ts_1_pivot_dflow = h_ts_1_dflow.pivot(['NODE_ID'],'MW',
                                        azureml.dataprep.api.engineapi.typedefinitions.SummaryFunction.MAX,
                                        ['MYDATE','HOUR'])
h_ts_2_pivot_dflow = h_ts_2_dflow.pivot(['NODE_ID'],'MW',
                                        azureml.dataprep.api.engineapi.typedefinitions.SummaryFunction.MAX,
                                        ['MYDATE','HOUR'])

# merge DATE and HOUR and update datatype for DATETIME column
def ts_merge_date_hour_to_datetime(dflow, date_column_name, hour_column_name):
    # merge columns
    dflow = dflow.derive_column_by_example(
        source_columns = [date_column_name,hour_column_name],
        new_column_name = 'DATETIME',
        example_data = [({date_column_name: '1/1/2012', hour_column_name: '1'},    '01/01/2012 01:00'),
                        ({date_column_name: '10/10/2012', hour_column_name: '15'}, '10/10/2012 15:00'),
                        ({date_column_name: '1/17/2012', hour_column_name: '12'},  '01/17/2012 12:00')]
        ).drop_columns([date_column_name,hour_column_name])
    # update data type
    builder = dflow.builders.set_column_types()
    builder.learn()
    builder.conversion_candidates['DATETIME'] = (dprep.FieldType.DATE, ['%d/%m/%Y %H:%M'])
    return builder.to_dataflow()

# generate all DATETIME columns with proper data type
h_ts_1_pivot_dt_dflow = ts_merge_date_hour_to_datetime(h_ts_1_pivot_dflow,'MYDATE','HOUR')
h_ts_2_pivot_dt_dflow = ts_merge_date_hour_to_datetime(h_ts_2_pivot_dflow,'MYDATE','HOUR')
h_ts_3_dt_dflow =       ts_merge_date_hour_to_datetime(h_ts_3_dflow,      'DATE','HE')

# JOINING DATA SET h_ts_dflow=join(h1,h2,h3)
h_ts_dflow = dprep.Dataflow.join(
    dprep.Dataflow.join(h_ts_1_pivot_dt_dflow,
                        h_ts_2_pivot_dt_dflow,
                        join_key_pairs=[('DATETIME', 'DATETIME')],
                        left_column_prefix='h1_',right_column_prefix='h2_'
                       ).drop_columns(['h2_DATETIME']).rename_columns({'h1_DATETIME':'DATETIME'}),
    h_ts_3_dt_dflow,
    join_key_pairs=[('DATETIME', 'DATETIME')],
    left_column_prefix='',
    right_column_prefix='h3_'
).drop_columns('h3_DATETIME')

# JOINING DATA SET d_ts_dflow=join(d1,d2)
d_ts_dflow = dprep.Dataflow.join(
    d_ts_1_dt_dflow,
    d_ts_2_dt_dflow,
    join_key_pairs=[('RDATE', 'RDATE')],
    left_column_prefix='',
    right_column_prefix='r_').drop_columns(['r_RDATE']).rename_columns({'r_X2':'X2'})

# =============================
# end of dataprep.py code (WIP)
# =============================

In [269]:
# check profile 
h_ts_dflow.get_profile()

ColumnProfile:
    column_name: DATETIME
    type: FieldType.DATE

    min: 2012-01-01 01:00:00+00:00
    max: 2016-12-02 23:00:00+00:00
    count: 33653.0
    missing_count: 64.0
    not_missing_count: 33589.0
    percent_missing: 0.0019017621014471222
    error_count: 20386.0
    empty_count: 0.0
    unique_values: >1000


ColumnProfile:
    column_name: h1_N1
    type: FieldType.DECIMAL

    min: -32.79379299
    max: 473.7128726
    count: 33653.0
    missing_count: 0.0
    not_missing_count: 33653.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: >1000


    Quantiles (est.):
         0.1%: -7.01140735079038
           1%: -1.0028865571396275
           5%: -1.0048978087672957
          25%: -0.7383810317578595
          50%: 4.70420387694103
          75%: 196.12128069452874
          95%: 390.774303603739
          99%: 433.88169120810926
        99.9%: 452.9291848040474

    mean: 101.89695243006422
    std: 137.2722650037555
    variance: 18843.674739261278
    skewness: 1.0450409642702005
    kurtosis: -0.3164366329659085
    whisker_top: 473.7128726
    whisker_bottom: -32.79379299

ColumnProfile:
    column_name: h1_S1
    type: FieldType.DECIMAL

    min: -14.54673885
    max: 2437.806994
    count: 33653.0
    missing_count: 0.0
    not_missing_count: 33653.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: >1000


    Quantiles (est.):
         0.1%: -10.921894165588109
           1%: -7.450546718297978
           5%: -7.491191083
          25%: -5.265695200319961
          50%: 26.833671213435316
          75%: 1279.146285628139
          95%: 2026.287696783148
          99%: 2281.0443638798706
        99.9%: 2396.5634172388286

    mean: 590.764506132251
    std: 754.7049192119417
    variance: 569579.5150827036
    skewness: 0.8285032517885627
    kurtosis: -0.8550325196761048
    whisker_top: 2437.806994
    whisker_bottom: -14.54673885

ColumnProfile:
    column_name: h1_Z1
    type: FieldType.DECIMAL

    min: -2.303792994
    max: 563.445465
    count: 33653.0
    missing_count: 1.0
    not_missing_count: 33652.0
    percent_missing: 2.9715032835111284e-05
    error_count: 0.0
    empty_count: 0.0
    unique_values: >1000


    Quantiles (est.):
         0.1%: -2.1118266055112853
           1%: -1.618802468219454
           5%: -1.627545778689243
          25%: -1.3498896768256399
          50%: 4.5957003361030635
          75%: 269.6513530398113
          95%: 468.5439938533505
          99%: 521.8090378813542
        99.9%: 554.0272939878691

    mean: 129.15744312978876
    std: 171.70851207845706
    variance: 29483.81312019764
    skewness: 0.9411513971056705
    kurtosis: -0.6324760451222753
    whisker_top: 563.445465
    whisker_bottom: -2.303792994

ColumnProfile:
    column_name: h2_N1
    type: FieldType.DECIMAL

    min: -3.655433121
    max: 458.0684076
    count: 33653.0
    missing_count: 0.0
    not_missing_count: 33653.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: >1000


    Quantiles (est.):
         0.1%: -2.749599561978134
           1%: 1.6747450874629806
           5%: 1.573400418083701
          25%: 17.336264054873784
          50%: 81.8512807703392
          75%: 219.79436861041563
          95%: 363.39623208972915
          99%: 413.8883733231381
        99.9%: 438.41629426847356

    mean: 125.98653983612182
    std: 123.46227081114523
    variance: 15242.932313844563
    skewness: 0.7702548573616911
    kurtosis: -0.6756703548301726
    whisker_top: 458.0684076
    whisker_bottom: -3.655433121

ColumnProfile:
    column_name: h2_S1
    type: FieldType.DECIMAL

    min: -5.926853503
    max: 1143.994736
    count: 33653.0
    missing_count: 0.0
    not_missing_count: 33653.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: >1000


    Quantiles (est.):
         0.1%: -3.944483158681272
           1%: 26.671709190409448
           5%: 25.99969624112676
          25%: 70.82507499848657
          50%: 244.40152439648048
          75%: 521.0813429744869
          95%: 814.2673841433547
          99%: 968.5843864500517
        99.9%: 1078.0593785352048

    mean: 315.28565081622423
    std: 268.3970587346213
    variance: 72036.98113739573
    skewness: 0.6692328468008234
    kurtosis: -0.6466508654814107
    whisker_top: 1143.994736
    whisker_bottom: -5.926853503

ColumnProfile:
    column_name: h3_CLOAD
    type: FieldType.DECIMAL

    min: 4950.318471
    max: 15894.58599
    count: 33653.0
    missing_count: 0.0
    not_missing_count: 33653.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: >1000


    Quantiles (est.):
         0.1%: 5771.879366768229
           1%: 6541.173219630731
           5%: 6529.075808647058
          25%: 7076.073813711178
          50%: 7948.106331327934
          75%: 8787.339044306522
          95%: 11415.5971733142
          99%: 13170.076569537427
        99.9%: 14450.91923559256

    mean: 8178.58238852149
    std: 1518.848301938836
    variance: 2306900.164302485
    skewness: 1.2931242595640915
    kurtosis: 1.9525924632967753
    whisker_top: 11309.552186441719
    whisker_bottom: 4950.318471

In [278]:
# TODO ==> KEEP DATE COLUMN IN H to properly summarize by DATE and not DATETIME in H
# TODO ==> KEEP DATE COLUMN IN H to properly summarize by DATE and not DATETIME in H
# TODO ==> KEEP DATE COLUMN IN H to properly summarize by DATE and not DATETIME in H
# TODO ==> KEEP DATE COLUMN IN H to properly summarize by DATE and not DATETIME in H
# TODO ==> KEEP DATE COLUMN IN H to properly summarize by DATE and not DATETIME in H

In [274]:
# summarize h_ts_dflow to daily
def generate_summary_column(column_name,column_suffix,summary_function):
    return dprep.SummaryColumnsValue(
                column_id=column_name,
                summary_column_name=column_name+'_'+column_suffix,
                summary_function=summary_function)

def generate_summary_columns(dflow):
    summary_columns = []
    for key in h_ts_dflow.get_profile().columns.keys():
        if key != 'DATETIME':
            summary_columns.append(generate_summary_column(key,'MAX',dprep.SummaryFunction.MAX))
            summary_columns.append(generate_summary_column(key,'MIN',dprep.SummaryFunction.MIN))
            summary_columns.append(generate_summary_column(key,'MEAN',dprep.SummaryFunction.MEAN))
            summary_columns.append(generate_summary_column(key,'MEDIAN',dprep.SummaryFunction.MEDIAN))
    return summary_columns

h_ts_summarized_dflow = h_ts_dflow.summarize(
    summary_columns=generate_summary_columns(h_ts_dflow),
    group_by_columns=['DATETIME'])

h_ts_summarized_dflow.head(4)

,DATETIME,h1_N1_MAX,h1_N1_MIN,h1_N1_MEAN,h1_N1_MEDIAN,h1_S1_MAX,h1_S1_MIN,h1_S1_MEAN,h1_S1_MEDIAN,h1_Z1_MAX,...,h2_N1_MEAN,h2_N1_MEDIAN,h2_S1_MAX,h2_S1_MIN,h2_S1_MEAN,h2_S1_MEDIAN,h3_CLOAD_MAX,h3_CLOAD_MIN,h3_CLOAD_MEAN,h3_CLOAD_MEDIAN
0,2012-01-01 01:00:00,2.789946,2.789946,2.789946,2.789946,-3.860854,-3.860854,-3.860854,-3.860854,-0.675159,...,214.201076,214.201076,76.939389,76.939389,76.939389,76.939389,7458.280255,7458.280255,7458.280255,7458.280255
1,2012-01-01 02:00:00,2.785634,2.785634,2.785634,2.785634,-3.788318,-3.788318,-3.788318,-3.788318,-0.675159,...,208.534389,208.534389,66.742051,66.742051,66.742051,66.742051,7214.649682,7214.649682,7214.649682,7214.649682
2,2012-01-01 03:00:00,2.786000,2.786000,2.786000,2.786000,-3.887990,-3.887990,-3.887990,-3.887990,-0.676115,...,188.653331,188.653331,70.460099,70.460099,70.460099,70.460099,7018.789809,7018.789809,7018.789809,7018.789809
3,2012-01-01 04:00:00,2.785965,2.785965,2.785965,2.785965,-4.119672,-4.119672,-4.119672,-4.119672,-0.700669,...,192.039484,192.039484,76.141580,76.141580,76.141580,76.141580,6912.420382,6912.420382,6912.420382,6912.420382

In [275]:
# =================
# dataprep.py (WIP)
# =================

h_ts_1_dflow = dprep.auto_read_file(DataPath(blob_store,'datasets/time-series/S_ACTUALS.csv'))
h_ts_2_dflow = dprep.auto_read_file(DataPath(blob_store,'datasets/time-series/W_ACTUALS.csv'))
h_ts_3_dflow = dprep.auto_read_file(DataPath(blob_store,'datasets/time-series/C_LOAD.csv'))
d_ts_1_dflow = dprep.auto_read_file(DataPath(blob_store,'datasets/time-series/X1.csv'))
d_ts_2_dflow = dprep.auto_read_file(DataPath(blob_store,'datasets/time-series/X2.csv'))

# Pivot data
h_ts_1_pivot_dflow = h_ts_1_dflow.pivot(['NODE_ID'],'MW',
                                        azureml.dataprep.api.engineapi.typedefinitions.SummaryFunction.MAX,
                                        ['MYDATE','HOUR'])
h_ts_2_pivot_dflow = h_ts_2_dflow.pivot(['NODE_ID'],'MW',
                                        azureml.dataprep.api.engineapi.typedefinitions.SummaryFunction.MAX,
                                        ['MYDATE','HOUR'])

# merge DATE and HOUR and update datatype for DATETIME column
def ts_merge_date_hour_to_datetime(dflow, date_column_name, hour_column_name):
    # merge columns
    dflow = dflow.derive_column_by_example(
        source_columns = [date_column_name,hour_column_name],
        new_column_name = 'DATETIME',
        example_data = [({date_column_name: '1/1/2012', hour_column_name: '1'},    '01/01/2012 01:00'),
                        ({date_column_name: '10/10/2012', hour_column_name: '15'}, '10/10/2012 15:00'),
                        ({date_column_name: '1/17/2012', hour_column_name: '12'},  '01/17/2012 12:00')]
        ).drop_columns([date_column_name,hour_column_name])
    # update data type
    builder = dflow.builders.set_column_types()
    builder.learn()
    builder.conversion_candidates['DATETIME'] = (dprep.FieldType.DATE, ['%d/%m/%Y %H:%M'])
    return builder.to_dataflow()

# generate all DATETIME columns with proper data type
h_ts_1_pivot_dt_dflow = ts_merge_date_hour_to_datetime(h_ts_1_pivot_dflow,'MYDATE','HOUR')
h_ts_2_pivot_dt_dflow = ts_merge_date_hour_to_datetime(h_ts_2_pivot_dflow,'MYDATE','HOUR')
h_ts_3_dt_dflow =       ts_merge_date_hour_to_datetime(h_ts_3_dflow,      'DATE','HE')

# JOINING DATA SET h_ts_dflow=join(h1,h2,h3)
h_ts_dflow = dprep.Dataflow.join(
    dprep.Dataflow.join(h_ts_1_pivot_dt_dflow,
                        h_ts_2_pivot_dt_dflow,
                        join_key_pairs=[('DATETIME', 'DATETIME')],
                        left_column_prefix='h1_',right_column_prefix='h2_'
                       ).drop_columns(['h2_DATETIME']).rename_columns({'h1_DATETIME':'DATETIME'}),
    h_ts_3_dt_dflow,
    join_key_pairs=[('DATETIME', 'DATETIME')],
    left_column_prefix='',
    right_column_prefix='h3_').drop_columns(['h3_DATETIME'])

# JOINING DATA SET d_ts_dflow=join(d1,d2)
d_ts_dflow = dprep.Dataflow.join(
    d_ts_1_dt_dflow,
    d_ts_2_dt_dflow,
    join_key_pairs=[('RDATE', 'RDATE')],
    left_column_prefix='',
    right_column_prefix='r_').drop_columns(['r_RDATE']).rename_columns({'r_X2':'X2'})

# helper: generate summary column
def generate_summary_column(column_name,column_suffix,summary_function):
    return dprep.SummaryColumnsValue(
                column_id=column_name,
                summary_column_name=column_name+'_'+column_suffix,
                summary_function=summary_function)

# helper: generate summary column for a few functions for each column that's not DATETIME
def generate_summary_columns(dflow):
    summary_columns = []
    for key in h_ts_dflow.get_profile().columns.keys():
        if key != 'DATETIME':
            summary_columns.append(generate_summary_column(key,'MAX',dprep.SummaryFunction.MAX))
            summary_columns.append(generate_summary_column(key,'MIN',dprep.SummaryFunction.MIN))
            summary_columns.append(generate_summary_column(key,'MEAN',dprep.SummaryFunction.MEAN))
            summary_columns.append(generate_summary_column(key,'MEDIAN',dprep.SummaryFunction.MEDIAN))
    return summary_columns

# summarize h_ts_dflow to daily
h_ts_summarized_dflow = h_ts_dflow.summarize(
    summary_columns=generate_summary_columns(h_ts_dflow),
    group_by_columns=['DATETIME'])

# join h and d series
training_dflow = dprep.Dataflow.join(
    h_ts_summarized_dflow,
    d_ts_dflow,
    join_key_pairs=[('DATETIME', 'RDATE')],
    left_column_prefix='',
    right_column_prefix='r_').drop_columns(['r_RDATE']).rename_columns({'r_X1':'X1','r_X2':'X2'})

# =============================
# end of dataprep.py code (WIP)
# =============================

In [277]:
training_dflow.get_profile()

ColumnProfile:
    column_name: DATETIME
    type: FieldType.DATE

    min: 2012-01-04 00:00:00+00:00
    max: 2016-02-02 00:00:00+00:00
    count: 494.0
    missing_count: 0.0
    not_missing_count: 494.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: 494


ColumnProfile:
    column_name: h1_N1_MAX
    type: FieldType.DECIMAL

    min: -11.2282293
    max: 173.8532898
    count: 494.0
    missing_count: 0.0
    not_missing_count: 494.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: 494


    Quantiles (est.):
         0.1%: -11.2282293
           1%: -1.0363882164499998
           5%: -1.0389808915
          25%: -0.9176472549761906
          50%: -0.7539065057738095
          75%: -0.5303481953333333
          95%: 2.5160529456499945
          99%: 14.317588280400006
        99.9%: 173.8532898

    mean: 0.08177775984817813
    std: 8.211241475776303
    variance: 67.42448657350899
    skewness: 19.362497784576068
    kurtosis: 403.63615760530763
    whisker_top: -0.011160297333333333
    whisker_bottom: -1.162076433

ColumnProfile:
    column_name: h1_N1_MIN
    type: FieldType.DECIMAL

    min: -11.2282293
    max: 173.8532898
    count: 494.0
    missing_count: 0.0
    not_missing_count: 494.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: 494


    Quantiles (est.):
         0.1%: -11.2282293
           1%: -1.0363882164499998
           5%: -1.0389808915
          25%: -0.9176472549761906
          50%: -0.7539065057738095
          75%: -0.5303481953333333
          95%: 2.5160529456499945
          99%: 14.317588280400006
        99.9%: 173.8532898

    mean: 0.08177775984817813
    std: 8.211241475776303
    variance: 67.42448657350899
    skewness: 19.362497784576068
    kurtosis: 403.63615760530763
    whisker_top: -0.011160297333333333
    whisker_bottom: -1.162076433

ColumnProfile:
    column_name: h1_N1_MEAN
    type: FieldType.DECIMAL

    min: -11.2282293
    max: 173.8532898
    count: 494.0
    missing_count: 0.0
    not_missing_count: 494.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: 494


    Quantiles (est.):
         0.1%: -11.2282293
           1%: -1.0363882164499998
           5%: -1.0389808915
          25%: -0.9176472549761906
          50%: -0.7539065057738095
          75%: -0.5303481953333333
          95%: 2.5160529456499945
          99%: 14.317588280400006
        99.9%: 173.8532898

    mean: 0.08177775984817813
    std: 8.211241475776303
    variance: 67.42448657350899
    skewness: 19.362497784576068
    kurtosis: 403.63615760530763
    whisker_top: -0.011160297333333333
    whisker_bottom: -1.162076433

ColumnProfile:
    column_name: h1_N1_MEDIAN
    type: FieldType.DECIMAL

    min: -11.2282293
    max: 173.8532898
    count: 494.0
    missing_count: 0.0
    not_missing_count: 494.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: 494


    Quantiles (est.):
         0.1%: -11.2282293
           1%: -1.0363882164499998
           5%: -1.0389808915
          25%: -0.9176472549761906
          50%: -0.7539065057738095
          75%: -0.5303481953333333
          95%: 2.5160529456499945
          99%: 14.317588280400006
        99.9%: 173.8532898

    mean: 0.08177775984817813
    std: 8.211241475776303
    variance: 67.42448657350899
    skewness: 19.362497784576068
    kurtosis: 403.63615760530763
    whisker_top: -0.011160297333333333
    whisker_bottom: -1.162076433

ColumnProfile:
    column_name: h1_S1_MAX
    type: FieldType.DECIMAL

    min: -10.96298726
    max: 202.4174522
    count: 494.0
    missing_count: 0.0
    not_missing_count: 494.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: 494


    Quantiles (est.):
         0.1%: -10.96298726
           1%: -8.184415127249999
           5%: -8.206194267499999
          25%: -7.424912951166666
          50%: -6.158104867952381
          75%: -2.881457537333333
          95%: 1.9641246019999974
          99%: 11.970680633600006
        99.9%: 202.4174522

    mean: -4.281386710663969
    std: 10.566389731974805
    variance: 111.64859196798261
    skewness: 15.69451658799894
    kurtosis: 296.13376993393746
    whisker_top: 3.126802548
    whisker_bottom: -10.96298726

ColumnProfile:
    column_name: h1_S1_MIN
    type: FieldType.DECIMAL

    min: -10.96298726
    max: 202.4174522
    count: 494.0
    missing_count: 0.0
    not_missing_count: 494.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: 494


    Quantiles (est.):
         0.1%: -10.96298726
           1%: -8.184415127249999
           5%: -8.206194267499999
          25%: -7.424912951166666
          50%: -6.158104867952381
          75%: -2.881457537333333
          95%: 1.9641246019999974
          99%: 11.970680633600006
        99.9%: 202.4174522

    mean: -4.281386710663969
    std: 10.566389731974805
    variance: 111.64859196798261
    skewness: 15.69451658799894
    kurtosis: 296.13376993393746
    whisker_top: 3.126802548
    whisker_bottom: -10.96298726

ColumnProfile:
    column_name: h1_S1_MEAN
    type: FieldType.DECIMAL

    min: -10.96298726
    max: 202.4174522
    count: 494.0
    missing_count: 0.0
    not_missing_count: 494.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: 494


    Quantiles (est.):
         0.1%: -10.96298726
           1%: -8.184415127249999
           5%: -8.206194267499999
          25%: -7.424912951166666
          50%: -6.158104867952381
          75%: -2.881457537333333
          95%: 1.9641246019999974
          99%: 11.970680633600006
        99.9%: 202.4174522

    mean: -4.281386710663969
    std: 10.566389731974805
    variance: 111.64859196798261
    skewness: 15.69451658799894
    kurtosis: 296.13376993393746
    whisker_top: 3.126802548
    whisker_bottom: -10.96298726

ColumnProfile:
    column_name: h1_S1_MEDIAN
    type: FieldType.DECIMAL

    min: -10.96298726
    max: 202.4174522
    count: 494.0
    missing_count: 0.0
    not_missing_count: 494.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: 494


    Quantiles (est.):
         0.1%: -10.96298726
           1%: -8.184415127249999
           5%: -8.206194267499999
          25%: -7.424912951166666
          50%: -6.158104867952381
          75%: -2.881457537333333
          95%: 1.9641246019999974
          99%: 11.970680633600006
        99.9%: 202.4174522

    mean: -4.281386710663969
    std: 10.566389731974805
    variance: 111.64859196798261
    skewness: 15.69451658799894
    kurtosis: 296.13376993393746
    whisker_top: 3.126802548
    whisker_bottom: -10.96298726

ColumnProfile:
    column_name: h1_Z1_MAX
    type: FieldType.DECIMAL

    min: -1.835458599
    max: 5.945347134
    count: 494.0
    missing_count: 0.0
    not_missing_count: 494.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: 492


    Quantiles (est.):
         0.1%: -1.835458599
           1%: -1.6865492035999998
           5%: -1.68947293
          25%: -1.5333790566428571
          50%: -1.3663743932261905
          75%: -1.06827707
          95%: 1.3851629774999918
          99%: 4.349930573000001
        99.9%: 5.945347134

    mean: -0.994630985829959
    std: 1.175487832423814
    variance: 1.381771644176437
    skewness: 3.1775251396198847
    kurtosis: 10.838939707206915
    whisker_top: -0.49432377899999996
    whisker_bottom: -1.835458599

ColumnProfile:
    column_name: h1_Z1_MIN
    type: FieldType.DECIMAL

    min: -1.835458599
    max: 5.945347134
    count: 494.0
    missing_count: 0.0
    not_missing_count: 494.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: 492


    Quantiles (est.):
         0.1%: -1.835458599
           1%: -1.6865492035999998
           5%: -1.68947293
          25%: -1.5333790566428571
          50%: -1.3663743932261905
          75%: -1.06827707
          95%: 1.3851629774999918
          99%: 4.349930573000001
        99.9%: 5.945347134

    mean: -0.994630985829959
    std: 1.175487832423814
    variance: 1.381771644176437
    skewness: 3.1775251396198847
    kurtosis: 10.838939707206915
    whisker_top: -0.49432377899999996
    whisker_bottom: -1.835458599

ColumnProfile:
    column_name: h1_Z1_MEAN
    type: FieldType.DECIMAL

    min: -1.835458599
    max: 5.945347134
    count: 494.0
    missing_count: 0.0
    not_missing_count: 494.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: 492


    Quantiles (est.):
         0.1%: -1.835458599
           1%: -1.6865492035999998
           5%: -1.68947293
          25%: -1.5333790566428571
          50%: -1.3663743932261905
          75%: -1.06827707
          95%: 1.3851629774999918
          99%: 4.349930573000001
        99.9%: 5.945347134

    mean: -0.994630985829959
    std: 1.175487832423814
    variance: 1.381771644176437
    skewness: 3.1775251396198847
    kurtosis: 10.838939707206915
    whisker_top: -0.49432377899999996
    whisker_bottom: -1.835458599

ColumnProfile:
    column_name: h1_Z1_MEDIAN
    type: FieldType.DECIMAL

    min: -1.835458599
    max: 5.945347134
    count: 494.0
    missing_count: 0.0
    not_missing_count: 494.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: 492


    Quantiles (est.):
         0.1%: -1.835458599
           1%: -1.6865492035999998
           5%: -1.68947293
          25%: -1.5333790566428571
          50%: -1.3663743932261905
          75%: -1.06827707
          95%: 1.3851629774999918
          99%: 4.349930573000001
        99.9%: 5.945347134

    mean: -0.994630985829959
    std: 1.175487832423814
    variance: 1.381771644176437
    skewness: 3.1775251396198847
    kurtosis: 10.838939707206915
    whisker_top: -0.49432377899999996
    whisker_bottom: -1.835458599

ColumnProfile:
    column_name: h2_N1_MAX
    type: FieldType.DECIMAL

    min: -3.142270701
    max: 452.2562516
    count: 494.0
    missing_count: 0.0
    not_missing_count: 494.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: 494


    Quantiles (est.):
         0.1%: -3.142270701
           1%: 4.020873885050001
           5%: 3.7783773885
          25%: 33.42645412595238
          50%: 132.65792523452382
          75%: 296.4895573333333
          95%: 390.06532786749995
          99%: 426.622760516
        99.9%: 452.2562516

    mean: 165.04152723163958
    std: 137.58902525905367
    variance: 18930.739871736507
    skewness: 0.34967610042312797
    kurtosis: -1.321039710030158
    whisker_top: 452.2562516
    whisker_bottom: -3.142270701

ColumnProfile:
    column_name: h2_N1_MIN
    type: FieldType.DECIMAL

    min: -3.142270701
    max: 452.2562516
    count: 494.0
    missing_count: 0.0
    not_missing_count: 494.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: 494


    Quantiles (est.):
         0.1%: -3.142270701
           1%: 4.020873885050001
           5%: 3.7783773885
          25%: 33.42645412595238
          50%: 132.65792523452382
          75%: 296.4895573333333
          95%: 390.06532786749995
          99%: 426.622760516
        99.9%: 452.2562516

    mean: 165.04152723163958
    std: 137.58902525905367
    variance: 18930.739871736507
    skewness: 0.34967610042312797
    kurtosis: -1.321039710030158
    whisker_top: 452.2562516
    whisker_bottom: -3.142270701

ColumnProfile:
    column_name: h2_N1_MEAN
    type: FieldType.DECIMAL

    min: -3.142270701
    max: 452.2562516
    count: 494.0
    missing_count: 0.0
    not_missing_count: 494.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: 494


    Quantiles (est.):
         0.1%: -3.142270701
           1%: 4.020873885050001
           5%: 3.7783773885
          25%: 33.42645412595238
          50%: 132.65792523452382
          75%: 296.4895573333333
          95%: 390.06532786749995
          99%: 426.622760516
        99.9%: 452.2562516

    mean: 165.04152723163958
    std: 137.58902525905367
    variance: 18930.739871736507
    skewness: 0.34967610042312797
    kurtosis: -1.321039710030158
    whisker_top: 452.2562516
    whisker_bottom: -3.142270701

ColumnProfile:
    column_name: h2_N1_MEDIAN
    type: FieldType.DECIMAL

    min: -3.142270701
    max: 452.2562516
    count: 494.0
    missing_count: 0.0
    not_missing_count: 494.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: 494


    Quantiles (est.):
         0.1%: -3.142270701
           1%: 4.020873885050001
           5%: 3.7783773885
          25%: 33.42645412595238
          50%: 132.65792523452382
          75%: 296.4895573333333
          95%: 390.06532786749995
          99%: 426.622760516
        99.9%: 452.2562516

    mean: 165.04152723163958
    std: 137.58902525905367
    variance: 18930.739871736507
    skewness: 0.34967610042312797
    kurtosis: -1.321039710030158
    whisker_top: 452.2562516
    whisker_bottom: -3.142270701

ColumnProfile:
    column_name: h2_S1_MAX
    type: FieldType.DECIMAL

    min: -2.201707006
    max: 1079.389943
    count: 494.0
    missing_count: 0.0
    not_missing_count: 494.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: 494


    Quantiles (est.):
         0.1%: -2.201707006
           1%: 33.3166343955
           5%: 33.09386943
          25%: 111.37261510714286
          50%: 377.26661318214286
          75%: 624.3663439333334
          95%: 880.1810316149997
          99%: 986.681309304
        99.9%: 1079.389943

    mean: 389.3986239124027
    std: 287.1001894958764
    variance: 82426.51880856814
    skewness: 0.3154334622180397
    kurtosis: -1.0898565463259242
    whisker_top: 1079.389943
    whisker_bottom: -2.201707006

ColumnProfile:
    column_name: h2_S1_MIN
    type: FieldType.DECIMAL

    min: -2.201707006
    max: 1079.389943
    count: 494.0
    missing_count: 0.0
    not_missing_count: 494.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: 494


    Quantiles (est.):
         0.1%: -2.201707006
           1%: 33.3166343955
           5%: 33.09386943
          25%: 111.37261510714286
          50%: 377.26661318214286
          75%: 624.3663439333334
          95%: 880.1810316149997
          99%: 986.681309304
        99.9%: 1079.389943

    mean: 389.3986239124027
    std: 287.1001894958764
    variance: 82426.51880856814
    skewness: 0.3154334622180397
    kurtosis: -1.0898565463259242
    whisker_top: 1079.389943
    whisker_bottom: -2.201707006

ColumnProfile:
    column_name: h2_S1_MEAN
    type: FieldType.DECIMAL

    min: -2.201707006
    max: 1079.389943
    count: 494.0
    missing_count: 0.0
    not_missing_count: 494.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: 494


    Quantiles (est.):
         0.1%: -2.201707006
           1%: 33.3166343955
           5%: 33.09386943
          25%: 111.37261510714286
          50%: 377.26661318214286
          75%: 624.3663439333334
          95%: 880.1810316149997
          99%: 986.681309304
        99.9%: 1079.389943

    mean: 389.3986239124027
    std: 287.1001894958764
    variance: 82426.51880856814
    skewness: 0.3154334622180397
    kurtosis: -1.0898565463259242
    whisker_top: 1079.389943
    whisker_bottom: -2.201707006

ColumnProfile:
    column_name: h2_S1_MEDIAN
    type: FieldType.DECIMAL

    min: -2.201707006
    max: 1079.389943
    count: 494.0
    missing_count: 0.0
    not_missing_count: 494.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: 494


    Quantiles (est.):
         0.1%: -2.201707006
           1%: 33.3166343955
           5%: 33.09386943
          25%: 111.37261510714286
          50%: 377.26661318214286
          75%: 624.3663439333334
          95%: 880.1810316149997
          99%: 986.681309304
        99.9%: 1079.389943

    mean: 389.3986239124027
    std: 287.1001894958764
    variance: 82426.51880856814
    skewness: 0.3154334622180397
    kurtosis: -1.0898565463259242
    whisker_top: 1079.389943
    whisker_bottom: -2.201707006

ColumnProfile:
    column_name: h3_CLOAD_MAX
    type: FieldType.DECIMAL

    min: 6487.898089
    max: 11579.93631
    count: 494.0
    missing_count: 0.0
    not_missing_count: 494.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: 478


    Quantiles (est.):
         0.1%: 6487.898089
           1%: 6917.4681531999995
           5%: 6907.324841
          25%: 7121.709129690476
          50%: 7468.312102071429
          75%: 8372.399150666666
          95%: 9906.584394700001
          99%: 10602.2420356
        99.9%: 11579.93631

    mean: 7836.027875910939
    std: 990.6318801562426
    variance: 981351.5219818921
    skewness: 1.1740987583186204
    kurtosis: 0.7157397711077342
    whisker_top: 10224.84076
    whisker_bottom: 6487.898089

ColumnProfile:
    column_name: h3_CLOAD_MIN
    type: FieldType.DECIMAL

    min: 6487.898089
    max: 11579.93631
    count: 494.0
    missing_count: 0.0
    not_missing_count: 494.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: 478


    Quantiles (est.):
         0.1%: 6487.898089
           1%: 6917.4681531999995
           5%: 6907.324841
          25%: 7121.709129690476
          50%: 7468.312102071429
          75%: 8372.399150666666
          95%: 9906.584394700001
          99%: 10602.2420356
        99.9%: 11579.93631

    mean: 7836.027875910939
    std: 990.6318801562426
    variance: 981351.5219818921
    skewness: 1.1740987583186204
    kurtosis: 0.7157397711077342
    whisker_top: 10224.84076
    whisker_bottom: 6487.898089

ColumnProfile:
    column_name: h3_CLOAD_MEAN
    type: FieldType.DECIMAL

    min: 6487.898089
    max: 11579.93631
    count: 494.0
    missing_count: 0.0
    not_missing_count: 494.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: 478


    Quantiles (est.):
         0.1%: 6487.898089
           1%: 6917.4681531999995
           5%: 6907.324841
          25%: 7121.709129690476
          50%: 7468.312102071429
          75%: 8372.399150666666
          95%: 9906.584394700001
          99%: 10602.2420356
        99.9%: 11579.93631

    mean: 7836.027875910939
    std: 990.6318801562426
    variance: 981351.5219818921
    skewness: 1.1740987583186204
    kurtosis: 0.7157397711077342
    whisker_top: 10224.84076
    whisker_bottom: 6487.898089

ColumnProfile:
    column_name: h3_CLOAD_MEDIAN
    type: FieldType.DECIMAL

    min: 6487.898089
    max: 11579.93631
    count: 494.0
    missing_count: 0.0
    not_missing_count: 494.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: 478


    Quantiles (est.):
         0.1%: 6487.898089
           1%: 6917.4681531999995
           5%: 6907.324841
          25%: 7121.709129690476
          50%: 7468.312102071429
          75%: 8372.399150666666
          95%: 9906.584394700001
          99%: 10602.2420356
        99.9%: 11579.93631

    mean: 7836.027875910939
    std: 990.6318801562426
    variance: 981351.5219818921
    skewness: 1.1740987583186204
    kurtosis: 0.7157397711077342
    whisker_top: 10224.84076
    whisker_bottom: 6487.898089

ColumnProfile:
    column_name: X1
    type: FieldType.DECIMAL

    min: 53.8
    max: 106.8
    count: 494.0
    missing_count: 0.0
    not_missing_count: 494.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: 203


    Quantiles (est.):
         0.1%: 53.8
           1%: 62.54
           5%: 62.4
          25%: 69.2095238095238
          50%: 78.97380952380952
          75%: 88.13333333333333

In [ ]:
# The best practice is to use separate folders for scripts and its dependent files
# for each step and specify that folder as the source_directory for the step.
# This helps reduce the size of the snapshot created for the step (only the specific folder is snapshotted).
# Since changes in any files in the source_directory would trigger a re-upload of the snapshot, this helps
# keep the reuse of the step when there are no changes in the source_directory of the step.
source_directory_dataprep = 'src/dataprep'
# Step
use_case_1_dataprep_sdk_step = PythonScriptStep(
    script_name="dataprep.py",
    arguments=["--output", d_use_case_1_dataprep_sdk_pd],
    inputs=[h_time_series_1_dr,
            h_time_series_2_dr,
            h_time_series_3_dr,
            d_time_series_1_dr,
            d_time_series_2_dr],
    outputs=[d_use_case_1_dataprep_sdk_pd],
    compute_target=aml_compute,
    source_directory=source_directory_dataprep,
    runconfig=run_config
)

print("== PythonScriptStep use_case_1_dataprep_step created")

### Build the pipeline and submit an Experiment run

In [ ]:
pipeline = Pipeline(workspace=ws, steps=[use_case_1_dataprep_sdk_step])
print ("== Pipeline is built")

In [ ]:
pipeline_run = Experiment(ws, 'use-case-1-dataprep-sdk').submit(pipeline)
print("== Pipeline is submitted for execution")

In [ ]:
RunDetails(pipeline_run).show()

### Wait for pipeline run to complete

In [ ]:
pipeline_run.wait_for_completion(show_output=True)

### See Outputs

See where outputs of each pipeline step are located on your datastore.

***Wait for pipeline run to complete, to make sure all the outputs are ready***

In [ ]:
# Get Steps
for step in pipeline_run.get_steps():
    print("== Outputs of step " + step.name)
    
    # Get a dictionary of StepRunOutputs with the output name as the key 
    output_dict = step.get_outputs()
    
    for name, output in output_dict.items():
        output_reference = output.get_port_data_reference() # Get output port data reference
        print("\tname: " + name)
        print("\tdatastore: " + output_reference.datastore_name)
        print("\tpath on datastore: " + output_reference.path_on_datastore)

In [ ]:
# REGISTER a new version of the final output as a Dataset

from azureml.core import Dataset, Datastore
from azureml.data.datapath import DataPath

# find output dataset
for step in pipeline_run.get_steps():
    output_dict = step.get_outputs()
    for name, output in output_dict.items():
        if name == 'd_use_case_1_dataprep_sdk':
            # generate a Tabular DataSet for it
            output_reference = output.get_port_data_reference()
            datastore_path = [DataPath(blob_store, output_reference.path_on_datastore)]
            ds = Dataset.Tabular.from_delimited_files(datastore_path)
            dataset_name = 'd_use_case_1_dataprep_sdk'
            ds.register(ws, name=dataset_name, create_new_version=True)
            print("== Registered new version of dataset: " + dataset_name)