Copyright (c) Microsoft Corporation. All rights reserved.  
Licensed under the MIT License.

![Impressions](https://PixelServer20190423114238.azurewebsites.net/api/impressions/NotebookVM/how-to-use-azureml/machine-learning-pipelines/intro-to-pipelines/aml-pipelines-with-data-dependency-steps.png)

# Azure Machine Learning Data Prep
In this notebook, we will see how we can do data prep using the azureml.dataprep SDK.

### Azure Machine Learning and Pipeline SDK-specific Imports

In [1]:
# Core ML to create exeperiments and run them
import azureml.core
from azureml.core import Workspace, Experiment, Datastore, Dataset
from azureml.core.compute import AmlCompute
from azureml.core.compute import ComputeTarget
from azureml.widgets import RunDetails
from azureml.data.data_reference import DataReference
from azureml.pipeline.core import Pipeline, PipelineData
from azureml.pipeline.steps import PythonScriptStep

# AzureML Dataprep SDK
import azureml.dataprep as dprep

# Check core SDK version number
print("AML Core SDK version:", azureml.core.VERSION)

AML Core SDK version: 1.0.83

### Getting AML Workspace and Compute

In [2]:
ws = Workspace.from_config()
print("== Workspace:")
print(ws.name, ws.resource_group, ws.location, ws.subscription_id, sep = '\n')

# Default datastore (Azure blob storage)
# def_blob_store = ws.get_default_datastore()
blob_store = Datastore(ws, "workspaceblobstore")
print("== Datastore: {}".format(blob_store.name))

# list compute targets
print("== Compute targets:")
for ct in ws.compute_targets:
    print("  " + ct)
    
# Retrieve a compute target    
from azureml.core.compute_target import ComputeTargetException
aml_compute_target = "agd-training-cpu"
try:
    aml_compute = AmlCompute(ws, aml_compute_target)
    print("== AML compute target attached: " + aml_compute_target)
except ComputeTargetException:
    print("== AML compute target not found: " + aml_compute_target)

== Workspace:
agd-mlws
azure-ml-workshop
westus2
c5ec24ce-9c5f-4da2-bf12-9ca8e9758d60
== Datastore: workspaceblobstore
== Compute targets:
  agd-inference
  agd-inference-v
  agd-training-gpu
  agd-training-cpu
== AML compute target attached: agd-training-cpu

### Data inputs definitions

In [3]:
# inputs definitions
h_ts_1_dr = DataReference(datastore=blob_store,data_reference_name="h_ts_1",path_on_datastore="datasets/time-series/h-time-series-1.csv")
h_ts_2_dr = DataReference(datastore=blob_store,data_reference_name="h_ts_2",path_on_datastore="datasets/time-series/h-time-series-2.csv")
h_ts_3_dr = DataReference(datastore=blob_store,data_reference_name="h_ts_3",path_on_datastore="datasets/time-series/h-time-series-3.csv")
d_ts_1_dr = DataReference(datastore=blob_store,data_reference_name="d_ts_1",path_on_datastore="datasets/time-series/d-time-series-1.csv")
d_ts_2_dr = DataReference(datastore=blob_store,data_reference_name="d_ts_2",path_on_datastore="datasets/time-series/d-time-series-2.csv")

print("== Datasets defined")

== Datasets defined

## Data prep using Azure ML Dataprep SDK

In [4]:
# read data as azureml.dataprep.DataFlow objects
h_ts_1_dflow = dprep.read_csv(h_ts_1_dr)
h_ts_2_dflow = dprep.read_csv(h_ts_2_dr)
h_ts_3_dflow = dprep.read_csv(h_ts_3_dr)
d_ts_1_dflow = dprep.read_csv(d_ts_1_dr)
d_ts_2_dflow = dprep.read_csv(d_ts_2_dr)

In [5]:
h_ts_1_dflow.head(6)

     MYDATE HOUR NODE_ID            MW
0  1/1/2012    1      N1    2.78994586
1  1/1/2012    1      S1  -3.860853503
2  1/1/2012    1      Z1  -0.675159236
3  1/1/2012    2      N1   2.785633758
4  1/1/2012    2      S1  -3.788318471
5  1/1/2012    2      Z1  -0.675159236

In [6]:
h_ts_1_dflow.get_profile()

ColumnProfile:
    column_name: MYDATE
    type: FieldType.STRING

    min: 1/1/2012
    max: 9/9/2015
    count: 100799.0
    missing_count: 0.0
    not_missing_count: 100799.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: >1000


ColumnProfile:
    column_name: HOUR
    type: FieldType.STRING

    min: 1
    max: 9
    count: 100799.0
    missing_count: 0.0
    not_missing_count: 100799.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: 25


ColumnProfile:
    column_name: NODE_ID
    type: FieldType.STRING

    min: N1
    max: Z1
    count: 100799.0
    missing_count: 0.0
    not_missing_count: 100799.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: 3


ColumnProfile:
    column_name: MW
    type: FieldType.STRING

    min: -0.00033121
    max: 999.9626592
    count: 100799.0
    missing_count: 0.0
    not_missing_count: 100799.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: >1000

In [7]:
d_ts_1_dflow.head(6)

      RDATE    X1
0  1/1/2012  59.8
1  1/2/2012    62
2  1/3/2012    62
3  1/4/2012  63.4
4  1/5/2012  55.4
5  1/6/2012  54.8

In [8]:
d_ts_1_dflow.get_profile()

ColumnProfile:
    column_name: RDATE
    type: FieldType.STRING

    min: 1/1/2012
    max: 9/9/2015
    count: 1521.0
    missing_count: 0.0
    not_missing_count: 1521.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: >1000


ColumnProfile:
    column_name: X1
    type: FieldType.STRING

    min: 100.4
    max: 99.8
    count: 1521.0
    missing_count: 0.0
    not_missing_count: 1521.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: 245

### Handling Data Types

In [9]:
# this is a good technique assuming you're not sure about the data types (for this example, it doesn't necessary
# make sense as you could quickly understand the format of each field, especially the 'date' one)

# discover data types
builder = h_ts_1_dflow.builders.set_column_types()
builder.learn()
builder.conversion_candidates

{'MYDATE': [
     (FieldType.DATE, ['%d/%m/%Y']),
     (FieldType.DATE, ['%m/%d/%Y'])],
 'HOUR': [FieldType.INTEGER],
 'NODE_ID': [FieldType.STRING],
 'MW': [FieldType.DECIMAL]}

In [10]:
# resolve MYDATE type ambiguity
builder.conversion_candidates['MYDATE'] = (dprep.FieldType.DATE, ['%m/%d/%Y'])
h_ts_1_dflow = builder.to_dataflow()
h_ts_1_dflow.get_profile()

ColumnProfile:
    column_name: MYDATE
    type: FieldType.DATE

    min: 2012-01-01 00:00:00+00:00
    max: 2016-02-29 00:00:00+00:00
    count: 100799.0
    missing_count: 0.0
    not_missing_count: 100799.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: >1000


ColumnProfile:
    column_name: HOUR
    type: FieldType.INTEGER

    min: 1.0
    max: 25.0
    count: 100799.0
    missing_count: 0.0
    not_missing_count: 100799.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: 25


    Quantiles (est.):
         0.1%: 1.0
           1%: 3.0
           5%: 3.0
          25%: 6.280181437543616
          50%: 12.012695524224918
          75%: 18.014481290397757
          95%: 23.0
          99%: 24.0
        99.9%: 24.0

    mean: 12.460738697804402
    std: 6.907259662868034
    variance: 47.710236050283825
    skewness: 0.0036578017311426395
    kurtosis: -1.2029709438633926
    whisker_top: 25.0
    whisker_bottom: 1.0

ColumnProfile:
    column_name: NODE_ID
    type: FieldType.STRING

    min: N1
    max: Z1
    count: 100799.0
    missing_count: 0.0
    not_missing_count: 100799.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: 3


ColumnProfile:
    column_name: MW
    type: FieldType.DECIMAL

    min: -32.79379299
    max: 2437.806994
    count: 100799.0
    missing_count: 0.0
    not_missing_count: 100799.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: >1000


    Quantiles (est.):
         0.1%: -10.571129420450223
           1%: -3.6597893532518473
           5%: -3.768317187455497
          25%: -1.146160502285121
          50%: 7.832329596818294
          75%: 314.0279976098775
          95%: 1608.3070822599539
          99%: 2131.8776554352976
        99.9%: 2370.146205691199

    mean: 274.5344220908082
    std: 506.66070845865056
    variance: 256705.07349582168
    skewness: 2.3245959524802595
    kurtosis: 4.63075898767753
    whisker_top: 669.4400007635655
    whisker_bottom: -32.79379299

### Explicit type setup

In [11]:
# IF you know what types should be up front, you can force types to the dataflow
h_ts_1_dflow = dprep.read_csv(h_ts_1_dr)
h_ts_1_dflow.get_profile()

ColumnProfile:
    column_name: MYDATE
    type: FieldType.STRING

    min: 1/1/2012
    max: 9/9/2015
    count: 100799.0
    missing_count: 0.0
    not_missing_count: 100799.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: >1000


ColumnProfile:
    column_name: HOUR
    type: FieldType.STRING

    min: 1
    max: 9
    count: 100799.0
    missing_count: 0.0
    not_missing_count: 100799.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: 25


ColumnProfile:
    column_name: NODE_ID
    type: FieldType.STRING

    min: N1
    max: Z1
    count: 100799.0
    missing_count: 0.0
    not_missing_count: 100799.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: 3


ColumnProfile:
    column_name: MW
    type: FieldType.STRING

    min: -0.00033121
    max: 999.9626592
    count: 100799.0
    missing_count: 0.0
    not_missing_count: 100799.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: >1000

In [12]:
# setting data types explicitely
h_ts_1_dflow = h_ts_1_dflow.to_datetime('MYDATE', ['%m/%d/%Y'])
h_ts_1_dflow = h_ts_1_dflow.to_long(['HOUR'])
h_ts_1_dflow = h_ts_1_dflow.to_number(['MW'])
h_ts_1_dflow.get_profile()

ColumnProfile:
    column_name: MYDATE
    type: FieldType.DATE

    min: 2012-01-01 00:00:00+00:00
    max: 2016-02-29 00:00:00+00:00
    count: 100799.0
    missing_count: 0.0
    not_missing_count: 100799.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: >1000


ColumnProfile:
    column_name: HOUR
    type: FieldType.INTEGER

    min: 1.0
    max: 25.0
    count: 100799.0
    missing_count: 0.0
    not_missing_count: 100799.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: 25


    Quantiles (est.):
         0.1%: 1.0
           1%: 3.0
           5%: 3.0
          25%: 6.280181437543616
          50%: 12.012695524224918
          75%: 18.014481290397757
          95%: 23.0
          99%: 24.0
        99.9%: 24.0

    mean: 12.460738697804402
    std: 6.907259662868034
    variance: 47.710236050283825
    skewness: 0.0036578017311426395
    kurtosis: -1.2029709438633926
    whisker_top: 25.0
    whisker_bottom: 1.0

ColumnProfile:
    column_name: NODE_ID
    type: FieldType.STRING

    min: N1
    max: Z1
    count: 100799.0
    missing_count: 0.0
    not_missing_count: 100799.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: 3


ColumnProfile:
    column_name: MW
    type: FieldType.DECIMAL

    min: -32.79379299
    max: 2437.806994
    count: 100799.0
    missing_count: 0.0
    not_missing_count: 100799.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: >1000


    Quantiles (est.):
         0.1%: -10.571129420450223
           1%: -3.6597893532518473
           5%: -3.768317187455497
          25%: -1.146160502285121
          50%: 7.832329596818294
          75%: 314.0279976098775
          95%: 1608.3070822599539
          99%: 2131.8776554352976
        99.9%: 2370.146205691199

    mean: 274.5344220908082
    std: 506.66070845865056
    variance: 256705.07349582168
    skewness: 2.3245959524802595
    kurtosis: 4.63075898767753
    whisker_top: 669.4400007635655
    whisker_bottom: -32.79379299

### Automatic data type detection with 'auto_read_file'

In [13]:
# instead 'auto_read_file' will do type auto detect (when it can), and other things (auto skip first rows, will find the right header, etc)
h_ts_1_dflow = dprep.auto_read_file(h_ts_1_dr)
d_ts_1_dflow = dprep.auto_read_file(d_ts_1_dr)

In [14]:
# Note: potential ambiguity may prevent correct detection of data types (we'll handle down below): MYDATE
h_ts_1_dflow.get_profile()

ColumnProfile:
    column_name: MYDATE
    type: FieldType.STRING

    min: 1/1/2012
    max: 9/9/2015
    count: 100799.0
    missing_count: 0.0
    not_missing_count: 100799.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: >1000


ColumnProfile:
    column_name: HOUR
    type: FieldType.INTEGER

    min: 1.0
    max: 25.0
    count: 100799.0
    missing_count: 0.0
    not_missing_count: 100799.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: 25


    Quantiles (est.):
         0.1%: 1.0
           1%: 3.0
           5%: 3.0
          25%: 6.280181437543616
          50%: 12.012695524224918
          75%: 18.014481290397757
          95%: 23.0
          99%: 24.0
        99.9%: 24.0

    mean: 12.460738697804402
    std: 6.907259662868034
    variance: 47.710236050283825
    skewness: 0.0036578017311426395
    kurtosis: -1.2029709438633926
    whisker_top: 25.0
    whisker_bottom: 1.0

ColumnProfile:
    column_name: NODE_ID
    type: FieldType.STRING

    min: N1
    max: Z1
    count: 100799.0
    missing_count: 0.0
    not_missing_count: 100799.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: 3


ColumnProfile:
    column_name: MW
    type: FieldType.DECIMAL

    min: -32.79379299
    max: 2437.806994
    count: 100799.0
    missing_count: 0.0
    not_missing_count: 100799.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: >1000


    Quantiles (est.):
         0.1%: -10.571129420450223
           1%: -3.6597893532518473
           5%: -3.768317187455497
          25%: -1.146160502285121
          50%: 7.832329596818294
          75%: 314.0279976098775
          95%: 1608.3070822599539
          99%: 2131.8776554352976
        99.9%: 2370.146205691199

    mean: 274.5344220908082
    std: 506.66070845865056
    variance: 256705.07349582168
    skewness: 2.3245959524802595
    kurtosis: 4.63075898767753
    whisker_top: 669.4400007635655
    whisker_bottom: -32.79379299

In [15]:
# All types auto detected correctly
d_ts_1_dflow.get_profile()

ColumnProfile:
    column_name: RDATE
    type: FieldType.DATE

    min: 2012-01-01 00:00:00+00:00
    max: 2016-02-29 00:00:00+00:00
    count: 1521.0
    missing_count: 0.0
    not_missing_count: 1521.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: >1000


ColumnProfile:
    column_name: X1
    type: FieldType.DECIMAL

    min: 50.4
    max: 106.8
    count: 1521.0
    missing_count: 0.0
    not_missing_count: 1521.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: 245


    Quantiles (est.):
         0.1%: 50.64620000000001
           1%: 62.17373015873015
           5%: 62.02222222222222
          25%: 69.172
          50%: 78.16597222222224
          75%: 88.08933333333334
          95%: 95.78331168831168
          99%: 100.63349999999997
        99.9%: 105.98320000000004

    mean: 78.12189349112435
    std: 11.558715125813139
    variance: 133.60389535970145
    skewness: -0.07667155496676725
    kurtosis: -0.9017535343731198
    whisker_top: 106.8
    whisker_bottom: 50.4

### Summary of how to best read data to benefit from auto type detection and auto skipping info lines to find header, etc.

In [16]:
# =======================
# azureml-dataprep-sdk.py (WIP)
# =======================

h_ts_1_dflow = dprep.auto_read_file(h_ts_1_dr)
h_ts_2_dflow = dprep.auto_read_file(h_ts_2_dr)
h_ts_3_dflow = dprep.auto_read_file(h_ts_3_dr)
d_ts_1_dflow = dprep.auto_read_file(d_ts_1_dr)
d_ts_2_dflow = dprep.auto_read_file(d_ts_2_dr)

# ===========================
# EOF azureml-dataprep-sdk.py (WIP)
# ===========================

### Pivoting Data

In [17]:
# ts_1 and ts_2 need to be pivoted
h_ts_1_dflow.head(6)

     MYDATE  HOUR NODE_ID        MW
0  1/1/2012     1      N1  2.789946
1  1/1/2012     1      S1 -3.860854
2  1/1/2012     1      Z1 -0.675159
3  1/1/2012     2      N1  2.785634
4  1/1/2012     2      S1 -3.788318
5  1/1/2012     2      Z1 -0.675159

In [18]:
# PIVOT data
h_ts_1_pivot_dflow = h_ts_1_dflow.pivot(['NODE_ID'],'MW',
                                        azureml.dataprep.api.engineapi.typedefinitions.SummaryFunction.MAX,
                                        ['MYDATE','HOUR'])
h_ts_1_pivot_dflow.head(2)

     MYDATE  HOUR        N1        S1        Z1
0  1/1/2012     1  2.789946 -3.860854 -0.675159
1  1/1/2012     2  2.785634 -3.788318 -0.675159

### Data transformation by Example

In [19]:
# using derive_column_by_example to reformat DATE/HOUR as a DATETIME field
builder = h_ts_1_pivot_dflow.builders.derive_column_by_example(source_columns = ['MYDATE','HOUR'], new_column_name = 'DATETIME')
builder.add_example(source_data = {'MYDATE': '1/1/2012', 'HOUR': 1}, example_value = '01/01/2012 01:00')
builder.add_example(source_data = {'MYDATE': '10/10/2012', 'HOUR': 15}, example_value = '10/10/2012 15:00')
builder.add_example(source_data = {'MYDATE': '1/17/2012', 'HOUR': 12}, example_value = '01/17/2012 12:00')
builder.preview(skip=3000,count=10)

      MYDATE  HOUR          DATETIME
0  5/14/2012     7  05/14/2012 07:00
1  5/14/2012     8  05/14/2012 08:00
2  5/14/2012     9  05/14/2012 09:00
3  5/14/2012    10  05/14/2012 10:00
4  5/14/2012    11  05/14/2012 11:00
5  5/14/2012    12  05/14/2012 12:00
6  5/14/2012    13  05/14/2012 13:00
7  5/14/2012    14  05/14/2012 14:00
8  5/14/2012    15  05/14/2012 15:00
9  5/14/2012    16  05/14/2012 16:00

In [20]:
h_ts_1_pivot_dt_dflow = builder.to_dataflow()
h_ts_1_pivot_dt_dflow.head(6)

     MYDATE  HOUR          DATETIME        N1        S1        Z1
0  1/1/2012     1  01/01/2012 01:00  2.789946 -3.860854 -0.675159
1  1/1/2012     2  01/01/2012 02:00  2.785634 -3.788318 -0.675159
2  1/1/2012     3  01/01/2012 03:00  2.786000 -3.887990 -0.676115
3  1/1/2012     4  01/01/2012 04:00  2.785965 -4.119672 -0.700669
4  1/1/2012     5  01/01/2012 05:00  2.790325 -4.828436 -0.702354
5  1/1/2012     6  01/01/2012 06:00  2.788650 -5.092978 -0.706051

In [21]:
h_ts_1_pivot_dt_dflow.dtypes

MYDATE                   FieldType.STRING
HOUR                     FieldType.INTEGER
DATETIME                 FieldType.STRING
N1                       FieldType.DECIMAL
S1                       FieldType.DECIMAL
Z1                       FieldType.DECIMAL

In [22]:
# NOTE: we're keeping the 'MYDATE' column in place as it'll simplify the summarization at the day level we'll do later on
# we're building a 'DATETIME' column to later on join the hourly datasets (even though we could join them on the two existing
# DATE and HOUR columns), but also as an interesting exercise to use 'derive_column_by_example'
h_ts_1_pivot_dt_dflow = h_ts_1_pivot_dflow.derive_column_by_example(
    source_columns = ['MYDATE','HOUR'],
    new_column_name = 'DATETIME',
    example_data = [({'MYDATE': '1/1/2012', 'HOUR': '1'},    '01/01/2012 01:00'),
                    ({'MYDATE': '10/10/2012', 'HOUR': '15'}, '10/10/2012 15:00'),
                    ({'MYDATE': '1/17/2012', 'HOUR': '12'},  '01/17/2012 12:00')]
    ).drop_columns(['HOUR'])
h_ts_1_pivot_dt_dflow.head(6)

     MYDATE          DATETIME        N1        S1        Z1
0  1/1/2012  01/01/2012 01:00  2.789946 -3.860854 -0.675159
1  1/1/2012  01/01/2012 02:00  2.785634 -3.788318 -0.675159
2  1/1/2012  01/01/2012 03:00  2.786000 -3.887990 -0.676115
3  1/1/2012  01/01/2012 04:00  2.785965 -4.119672 -0.700669
4  1/1/2012  01/01/2012 05:00  2.790325 -4.828436 -0.702354
5  1/1/2012  01/01/2012 06:00  2.788650 -5.092978 -0.706051

In [23]:
builder = h_ts_1_pivot_dt_dflow.builders.set_column_types()
builder.learn()
builder.conversion_candidates

{'MYDATE': [
     (FieldType.DATE, ['%d/%m/%Y']),
     (FieldType.DATE, ['%m/%d/%Y'])], 'DATETIME': [
     (FieldType.DATE, ['%d/%m/%Y %H:%M']),
     (FieldType.DATE, ['%m/%d/%Y %H:%M'])], 'N1': [FieldType.DECIMAL], 'S1': [FieldType.DECIMAL], 'Z1': [FieldType.DECIMAL]}

In [24]:
builder.conversion_candidates['MYDATE'] = (dprep.FieldType.DATE, ['%m/%d/%Y'])
builder.conversion_candidates['DATETIME'] = (dprep.FieldType.DATE, ['%m/%d/%Y %H:%M'])
h_ts_1_pivot_dt_dflow = builder.to_dataflow()
h_ts_1_pivot_dt_dflow.head(6)

      MYDATE            DATETIME        N1        S1        Z1
0 2012-01-01 2012-01-01 01:00:00  2.789946 -3.860854 -0.675159
1 2012-01-01 2012-01-01 02:00:00  2.785634 -3.788318 -0.675159
2 2012-01-01 2012-01-01 03:00:00  2.786000 -3.887990 -0.676115
3 2012-01-01 2012-01-01 04:00:00  2.785965 -4.119672 -0.700669
4 2012-01-01 2012-01-01 05:00:00  2.790325 -4.828436 -0.702354
5 2012-01-01 2012-01-01 06:00:00  2.788650 -5.092978 -0.706051

In [25]:
h_ts_1_pivot_dt_dflow.dtypes

MYDATE                   FieldType.DATE
DATETIME                 FieldType.DATE
N1                       FieldType.DECIMAL
S1                       FieldType.DECIMAL
Z1                       FieldType.DECIMAL

In [26]:
h_ts_1_pivot_dt_dflow.get_profile()

ColumnProfile:
    column_name: MYDATE
    type: FieldType.DATE

    min: 2012-01-01 00:00:00+00:00
    max: 2016-02-29 00:00:00+00:00
    count: 33600.0
    missing_count: 0.0
    not_missing_count: 33600.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: >1000


ColumnProfile:
    column_name: DATETIME
    type: FieldType.DATE

    min: 2012-01-01 01:00:00+00:00
    max: 2016-02-29 23:00:00+00:00
    count: 33600.0
    missing_count: 4.0
    not_missing_count: 33596.0
    percent_missing: 0.00011904761904761905
    error_count: 0.0
    empty_count: 0.0
    unique_values: >1000


ColumnProfile:
    column_name: N1
    type: FieldType.DECIMAL

    min: -32.79379299
    max: 473.7128726
    count: 33600.0
    missing_count: 0.0
    not_missing_count: 33600.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: >1000


    Quantiles (est.):
         0.1%: -7.025677830231034
           1%: -1.0030613424207708
           5%: -1.0072722032887316
          25%: -0.7389483717964089
          50%: 5.2802210182416545
          75%: 196.0821959583416
          95%: 391.0863790761727
          99%: 433.92401247820624
        99.9%: 452.9417783546565

    mean: 102.11390110085837
    std: 137.34226906825802
    variance: 18862.898872817786
    skewness: 1.0418997634714404
    kurtosis: -0.3231499648465861
    whisker_top: 473.7128726
    whisker_bottom: -32.79379299

ColumnProfile:
    column_name: S1
    type: FieldType.DECIMAL

    min: -14.54673885
    max: 2437.806994
    count: 33600.0
    missing_count: 0.0
    not_missing_count: 33600.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: >1000


    Quantiles (est.):
         0.1%: -10.919472553198872
           1%: -7.4515687637298935
           5%: -7.494091646694268
          25%: -5.270855174007013
          50%: 27.986437281645415
          75%: 1280.7014079543535
          95%: 2024.9632281299187
          99%: 2282.6089507137963
        99.9%: 2396.8094555266675

    mean: 592.0493440116473
    std: 755.0785206918175
    variance: 570143.5724101436
    skewness: 0.8252336969946245
    kurtosis: -0.8604729867840155
    whisker_top: 2437.806994
    whisker_bottom: -14.54673885

ColumnProfile:
    column_name: Z1
    type: FieldType.DECIMAL

    min: -2.303792994
    max: 563.445465
    count: 33600.0
    missing_count: 1.0
    not_missing_count: 33599.0
    percent_missing: 2.9761904761904762e-05
    error_count: 0.0
    empty_count: 0.0
    unique_values: >1000


    Quantiles (est.):
         0.1%: -2.1119176180779
           1%: -1.6192206672276486
           5%: -1.6239172261531536
          25%: -1.3503939871849773
          50%: 4.7235581590573235
          75%: 270.32804234496274
          95%: 468.6239242215337
          99%: 522.2197546794679
        99.9%: 553.7065203450411

    mean: 129.43570274564456
    std: 171.79983262836285
    variance: 29515.18249113349
    skewness: 0.9380295945346698
    kurtosis: -0.6383515816969609
    whisker_top: 563.445465
    whisker_bottom: -2.303792994

### WIP version of our dataprep code

In [27]:
# =======================
# azureml-dataprep-sdk.py
# =======================

h_ts_1_dflow = dprep.auto_read_file(h_ts_1_dr)
h_ts_2_dflow = dprep.auto_read_file(h_ts_2_dr)
h_ts_3_dflow = dprep.auto_read_file(h_ts_3_dr)
d_ts_1_dflow = dprep.auto_read_file(d_ts_1_dr)
d_ts_2_dflow = dprep.auto_read_file(d_ts_2_dr)

# Pivot data
h_ts_1_pivot_dflow = h_ts_1_dflow.pivot(['NODE_ID'],'MW',
                                        azureml.dataprep.api.engineapi.typedefinitions.SummaryFunction.MAX,
                                        ['MYDATE','HOUR'])
h_ts_2_pivot_dflow = h_ts_2_dflow.pivot(['NODE_ID'],'MW',
                                        azureml.dataprep.api.engineapi.typedefinitions.SummaryFunction.MAX,
                                        ['MYDATE','HOUR'])

# merge DATE and HOUR and update datatype for DATETIME column
def ts_merge_date_hour_to_datetime(dflow, date_column_name, hour_column_name):
    # merge columns
    dflow = dflow.derive_column_by_example(
        source_columns = [date_column_name,hour_column_name],
        new_column_name = 'DATETIME',
        example_data = [({date_column_name: '1/1/2012', hour_column_name: '1'},    '01/01/2012 01:00'),
                        ({date_column_name: '10/10/2012', hour_column_name: '15'}, '10/10/2012 15:00'),
                        ({date_column_name: '1/17/2012', hour_column_name: '12'},  '01/17/2012 12:00')]
        ).drop_columns([hour_column_name])
    # update data type
    builder = dflow.builders.set_column_types()
    builder.learn()
    builder.conversion_candidates[date_column_name] = (dprep.FieldType.DATE, ['%m/%d/%Y'])
    builder.conversion_candidates['DATETIME'] = (dprep.FieldType.DATE, ['%m/%d/%Y %H:%M'])
    return builder.to_dataflow()

# generate all DATETIME columns with proper data type
h_ts_1_pivot_dt_dflow = ts_merge_date_hour_to_datetime(h_ts_1_pivot_dflow,'MYDATE','HOUR')
h_ts_2_pivot_dt_dflow = ts_merge_date_hour_to_datetime(h_ts_2_pivot_dflow,'MYDATE','HOUR')
h_ts_3_dt_dflow =       ts_merge_date_hour_to_datetime(h_ts_3_dflow,      'DATE','HE')

# ===========================
# EOF azureml-dataprep-sdk.py (WIP)
# ===========================

In [28]:
# check profile
h_ts_1_pivot_dt_dflow.get_profile()

ColumnProfile:
    column_name: MYDATE
    type: FieldType.DATE

    min: 2012-01-01 00:00:00+00:00
    max: 2016-02-29 00:00:00+00:00
    count: 33600.0
    missing_count: 0.0
    not_missing_count: 33600.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: >1000


ColumnProfile:
    column_name: DATETIME
    type: FieldType.DATE

    min: 2012-01-01 01:00:00+00:00
    max: 2016-02-29 23:00:00+00:00
    count: 33600.0
    missing_count: 4.0
    not_missing_count: 33596.0
    percent_missing: 0.00011904761904761905
    error_count: 0.0
    empty_count: 0.0
    unique_values: >1000


ColumnProfile:
    column_name: N1
    type: FieldType.DECIMAL

    min: -32.79379299
    max: 473.7128726
    count: 33600.0
    missing_count: 0.0
    not_missing_count: 33600.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: >1000


    Quantiles (est.):
         0.1%: -7.025677830231034
           1%: -1.0030613424207708
           5%: -1.0072722032887316
          25%: -0.7389483717964089
          50%: 5.2802210182416545
          75%: 196.0821959583416
          95%: 391.0863790761727
          99%: 433.92401247820624
        99.9%: 452.9417783546565

    mean: 102.11390110085837
    std: 137.34226906825802
    variance: 18862.898872817786
    skewness: 1.0418997634714404
    kurtosis: -0.3231499648465861
    whisker_top: 473.7128726
    whisker_bottom: -32.79379299

ColumnProfile:
    column_name: S1
    type: FieldType.DECIMAL

    min: -14.54673885
    max: 2437.806994
    count: 33600.0
    missing_count: 0.0
    not_missing_count: 33600.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: >1000


    Quantiles (est.):
         0.1%: -10.919472553198872
           1%: -7.4515687637298935
           5%: -7.494091646694268
          25%: -5.270855174007013
          50%: 27.986437281645415
          75%: 1280.7014079543535
          95%: 2024.9632281299187
          99%: 2282.6089507137963
        99.9%: 2396.8094555266675

    mean: 592.0493440116473
    std: 755.0785206918175
    variance: 570143.5724101436
    skewness: 0.8252336969946245
    kurtosis: -0.8604729867840155
    whisker_top: 2437.806994
    whisker_bottom: -14.54673885

ColumnProfile:
    column_name: Z1
    type: FieldType.DECIMAL

    min: -2.303792994
    max: 563.445465
    count: 33600.0
    missing_count: 1.0
    not_missing_count: 33599.0
    percent_missing: 2.9761904761904762e-05
    error_count: 0.0
    empty_count: 0.0
    unique_values: >1000


    Quantiles (est.):
         0.1%: -2.1119176180779
           1%: -1.6192206672276486
           5%: -1.6239172261531536
          25%: -1.3503939871849773
          50%: 4.7235581590573235
          75%: 270.32804234496274
          95%: 468.6239242215337
          99%: 522.2197546794679
        99.9%: 553.7065203450411

    mean: 129.43570274564456
    std: 171.79983262836285
    variance: 29515.18249113349
    skewness: 0.9380295945346698
    kurtosis: -0.6383515816969609
    whisker_top: 563.445465
    whisker_bottom: -2.303792994

In [29]:
# check profile
d_ts_1_dflow.get_profile()

ColumnProfile:
    column_name: RDATE
    type: FieldType.DATE

    min: 2012-01-01 00:00:00+00:00
    max: 2016-02-29 00:00:00+00:00
    count: 1521.0
    missing_count: 0.0
    not_missing_count: 1521.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: >1000


ColumnProfile:
    column_name: X1
    type: FieldType.DECIMAL

    min: 50.4
    max: 106.8
    count: 1521.0
    missing_count: 0.0
    not_missing_count: 1521.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: 245


    Quantiles (est.):
         0.1%: 50.64620000000001
           1%: 62.17373015873015
           5%: 62.02222222222222
          25%: 69.172
          50%: 78.16597222222224
          75%: 88.08933333333334
          95%: 95.78331168831168
          99%: 100.63349999999997
        99.9%: 105.98320000000004

    mean: 78.12189349112435
    std: 11.558715125813139
    variance: 133.60389535970145
    skewness: -0.07667155496676725
    kurtosis: -0.9017535343731198
    whisker_top: 106.8
    whisker_bottom: 50.4

### Joining Data sets

In [30]:
# JOINING DATA SET h_ts_j1=h1,h2
h_ts_j1_dflow = dprep.Dataflow.join(
    h_ts_1_pivot_dt_dflow,
    h_ts_2_pivot_dt_dflow,
    join_key_pairs=[('DATETIME', 'DATETIME')],
    left_column_prefix='h1_',
    right_column_prefix='h2_'
).drop_columns(['h2_MYDATE','h2_DATETIME']).rename_columns({'h1_MYDATE':'MYDATE','h1_DATETIME':'DATETIME'})
h_ts_j1_dflow.head(5)

,MYDATE,DATETIME,h1_N1,h1_S1,h1_Z1,h2_N1,h2_S1
0,2012-01-01,2012-01-01 01:00:00,2.789946,-3.860854,-0.675159,214.201076,76.939389
1,2012-01-01,2012-01-01 02:00:00,2.785634,-3.788318,-0.675159,208.534389,66.742051
2,2012-01-01,2012-01-01 03:00:00,2.786000,-3.887990,-0.676115,188.653331,70.460099
3,2012-01-01,2012-01-01 04:00:00,2.785965,-4.119672,-0.700669,192.039484,76.141580
4,2012-01-01,2012-01-01 05:00:00,2.790325,-4.828436,-0.702354,204.381194,79.607589

In [31]:
# JOINING DATA SET h_ts_dflow=h_ts_j1,h3
h_ts_dflow = dprep.Dataflow.join(
    h_ts_j1_dflow,
    h_ts_3_dt_dflow,
    join_key_pairs=[('DATETIME', 'DATETIME')],
    left_column_prefix='',
    right_column_prefix='h3_'
).drop_columns(['h3_DATE','h3_DATETIME'])
h_ts_dflow.head(5)

,MYDATE,DATETIME,h1_N1,h1_S1,h1_Z1,h2_N1,h2_S1,h3_CLOAD
0,2012-01-01,2012-01-01 01:00:00,2.789946,-3.860854,-0.675159,214.201076,76.939389,7458.280255
1,2012-01-01,2012-01-01 02:00:00,2.785634,-3.788318,-0.675159,208.534389,66.742051,7214.649682
2,2012-01-01,2012-01-01 03:00:00,2.786000,-3.887990,-0.676115,188.653331,70.460099,7018.789809
3,2012-01-01,2012-01-01 04:00:00,2.785965,-4.119672,-0.700669,192.039484,76.141580,6912.420382
4,2012-01-01,2012-01-01 05:00:00,2.790325,-4.828436,-0.702354,204.381194,79.607589,6913.057325

### WIP version of our dataprep code so far

In [32]:
# =======================
# azureml-dataprep-sdk.py (WIP)
# =======================

h_ts_1_dflow = dprep.auto_read_file(h_ts_1_dr)
h_ts_2_dflow = dprep.auto_read_file(h_ts_2_dr)
h_ts_3_dflow = dprep.auto_read_file(h_ts_3_dr)
d_ts_1_dflow = dprep.auto_read_file(d_ts_1_dr)
d_ts_2_dflow = dprep.auto_read_file(d_ts_2_dr)

# Pivot data
h_ts_1_pivot_dflow = h_ts_1_dflow.pivot(['NODE_ID'],'MW',
                                        azureml.dataprep.api.engineapi.typedefinitions.SummaryFunction.MAX,
                                        ['MYDATE','HOUR'])
h_ts_2_pivot_dflow = h_ts_2_dflow.pivot(['NODE_ID'],'MW',
                                        azureml.dataprep.api.engineapi.typedefinitions.SummaryFunction.MAX,
                                        ['MYDATE','HOUR'])

# merge DATE and HOUR and update datatype for DATETIME column
def ts_merge_date_hour_to_datetime(dflow, date_column_name, hour_column_name):
    # merge columns
    dflow = dflow.derive_column_by_example(
        source_columns = [date_column_name,hour_column_name],
        new_column_name = 'DATETIME',
        example_data = [({date_column_name: '1/1/2012', hour_column_name: '1'},    '01/01/2012 01:00'),
                        ({date_column_name: '10/10/2012', hour_column_name: '15'}, '10/10/2012 15:00'),
                        ({date_column_name: '1/17/2012', hour_column_name: '12'},  '01/17/2012 12:00')]
        ).drop_columns([hour_column_name])
    # update data type
    builder = dflow.builders.set_column_types()
    builder.learn()
    builder.conversion_candidates[date_column_name] = (dprep.FieldType.DATE, ['%m/%d/%Y'])
    builder.conversion_candidates['DATETIME'] = (dprep.FieldType.DATE, ['%m/%d/%Y %H:%M'])
    return builder.to_dataflow()

# generate all DATETIME columns with proper data type
h_ts_1_pivot_dt_dflow = ts_merge_date_hour_to_datetime(h_ts_1_pivot_dflow,'MYDATE','HOUR')
h_ts_2_pivot_dt_dflow = ts_merge_date_hour_to_datetime(h_ts_2_pivot_dflow,'MYDATE','HOUR')
h_ts_3_dt_dflow =       ts_merge_date_hour_to_datetime(h_ts_3_dflow,      'DATE','HE')

# JOINING DATA SET h_ts_dflow=join(h1,h2,h3)
h_ts_dflow = dprep.Dataflow.join(
    dprep.Dataflow.join(h_ts_1_pivot_dt_dflow,
                        h_ts_2_pivot_dt_dflow,
                        join_key_pairs=[('DATETIME', 'DATETIME')],
                        left_column_prefix='h1_',right_column_prefix='h2_'
                       ).drop_columns(['h2_MYDATE','h2_DATETIME']).rename_columns({'h1_MYDATE':'MYDATE','h1_DATETIME':'DATETIME'}),
    h_ts_3_dt_dflow,
    join_key_pairs=[('DATETIME', 'DATETIME')],
    left_column_prefix='',
    right_column_prefix='h3_'
).drop_columns(['h3_DATE','h3_DATETIME'])

# JOINING DATA SET d_ts_dflow=join(d1,d2)
d_ts_dflow = dprep.Dataflow.join(
    d_ts_1_dflow,
    d_ts_2_dflow,
    join_key_pairs=[('RDATE', 'RDATE')],
    left_column_prefix='',
    right_column_prefix='r_').drop_columns(['r_RDATE']).rename_columns({'r_X2':'X2'})

# ===========================
# EOF azureml-dataprep-sdk.py (WIP)
# ===========================

In [33]:
# check profile
d_ts_dflow.get_profile()

ColumnProfile:
    column_name: RDATE
    type: FieldType.DATE

    min: 2012-01-01 00:00:00+00:00
    max: 2016-02-29 00:00:00+00:00
    count: 1521.0
    missing_count: 0.0
    not_missing_count: 1521.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: >1000


ColumnProfile:
    column_name: X1
    type: FieldType.DECIMAL

    min: 50.4
    max: 106.8
    count: 1521.0
    missing_count: 0.0
    not_missing_count: 1521.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: 245


    Quantiles (est.):
         0.1%: 50.64620000000001
           1%: 62.17373015873015
           5%: 62.02222222222222
          25%: 69.172
          50%: 78.16597222222224
          75%: 88.08933333333334
          95%: 95.78331168831168
          99%: 100.63349999999997
        99.9%: 105.98320000000004

    mean: 78.12189349112435
    std: 11.558715125813139
    variance: 133.60389535970145
    skewness: -0.07667155496676725
    kurtosis: -0.9017535343731198
    whisker_top: 106.8
    whisker_bottom: 50.4

ColumnProfile:
    column_name: X2
    type: FieldType.DECIMAL

    min: 0.0
    max: 250844.586
    count: 1521.0
    missing_count: 0.0
    not_missing_count: 1521.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: >1000


    Quantiles (est.):
         0.1%: 32.81847133448
           1%: 8180.228844465713
           5%: 7911.4251592499995
          25%: 22444.050994708625
          50%: 41917.202349230756
          75%: 60445.47031359524
          95%: 109849.66558588893
          99%: 196398.03740324985
        99.9%: 245757.63693440022

    mean: 46665.98114717059
    std: 35988.24225665022
    variance: 1295153580.7233446
    skewness: 1.9228822892849444
    kurtosis: 6.208639001801183
    whisker_top: 115663.05732857143
    whisker_bottom: 0.0

In [34]:
# check profile 
h_ts_dflow.get_profile()

ColumnProfile:
    column_name: MYDATE
    type: FieldType.DATE

    min: 2012-01-01 00:00:00+00:00
    max: 2016-02-29 00:00:00+00:00
    count: 33653.0
    missing_count: 0.0
    not_missing_count: 33653.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: >1000


ColumnProfile:
    column_name: DATETIME
    type: FieldType.DATE

    min: 2012-01-01 01:00:00+00:00
    max: 2016-02-29 23:00:00+00:00
    count: 33653.0
    missing_count: 64.0
    not_missing_count: 33589.0
    percent_missing: 0.0019017621014471222
    error_count: 0.0
    empty_count: 0.0
    unique_values: >1000


ColumnProfile:
    column_name: h1_N1
    type: FieldType.DECIMAL

    min: -32.79379299
    max: 473.7128726
    count: 33653.0
    missing_count: 0.0
    not_missing_count: 33653.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: >1000


    Quantiles (est.):
         0.1%: -7.01140735079038
           1%: -1.0028865571396275
           5%: -1.0048978087672957
          25%: -0.7383810317578595
          50%: 4.70420387694103
          75%: 196.12128069452874
          95%: 390.774303603739
          99%: 433.88169120810926
        99.9%: 452.9291848040474

    mean: 101.89695243006422
    std: 137.2722650037555
    variance: 18843.674739261278
    skewness: 1.0450409642702005
    kurtosis: -0.3164366329659085
    whisker_top: 473.7128726
    whisker_bottom: -32.79379299

ColumnProfile:
    column_name: h1_S1
    type: FieldType.DECIMAL

    min: -14.54673885
    max: 2437.806994
    count: 33653.0
    missing_count: 0.0
    not_missing_count: 33653.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: >1000


    Quantiles (est.):
         0.1%: -10.921894165588109
           1%: -7.450546718297978
           5%: -7.491191083
          25%: -5.265695200319961
          50%: 26.833671213435316
          75%: 1279.146285628139
          95%: 2026.287696783148
          99%: 2281.0443638798706
        99.9%: 2396.5634172388286

    mean: 590.764506132251
    std: 754.7049192119417
    variance: 569579.5150827036
    skewness: 0.8285032517885627
    kurtosis: -0.8550325196761048
    whisker_top: 2437.806994
    whisker_bottom: -14.54673885

ColumnProfile:
    column_name: h1_Z1
    type: FieldType.DECIMAL

    min: -2.303792994
    max: 563.445465
    count: 33653.0
    missing_count: 1.0
    not_missing_count: 33652.0
    percent_missing: 2.9715032835111284e-05
    error_count: 0.0
    empty_count: 0.0
    unique_values: >1000


    Quantiles (est.):
         0.1%: -2.1118266055112853
           1%: -1.618802468219454
           5%: -1.627545778689243
          25%: -1.3498896768256399
          50%: 4.5957003361030635
          75%: 269.6513530398113
          95%: 468.5439938533505
          99%: 521.8090378813542
        99.9%: 554.0272939878691

    mean: 129.15744312978876
    std: 171.70851207845706
    variance: 29483.81312019764
    skewness: 0.9411513971056705
    kurtosis: -0.6324760451222753
    whisker_top: 563.445465
    whisker_bottom: -2.303792994

ColumnProfile:
    column_name: h2_N1
    type: FieldType.DECIMAL

    min: -3.655433121
    max: 458.0684076
    count: 33653.0
    missing_count: 0.0
    not_missing_count: 33653.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: >1000


    Quantiles (est.):
         0.1%: -2.749599561978134
           1%: 1.6747450874629806
           5%: 1.573400418083701
          25%: 17.336264054873784
          50%: 81.8512807703392
          75%: 219.79436861041563
          95%: 363.39623208972915
          99%: 413.8883733231381
        99.9%: 438.41629426847356

    mean: 125.98653983612182
    std: 123.46227081114523
    variance: 15242.932313844563
    skewness: 0.7702548573616911
    kurtosis: -0.6756703548301726
    whisker_top: 458.0684076
    whisker_bottom: -3.655433121

ColumnProfile:
    column_name: h2_S1
    type: FieldType.DECIMAL

    min: -5.926853503
    max: 1143.994736
    count: 33653.0
    missing_count: 0.0
    not_missing_count: 33653.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: >1000


    Quantiles (est.):
         0.1%: -3.944483158681272
           1%: 26.671709190409448
           5%: 25.99969624112676
          25%: 70.82507499848657
          50%: 244.40152439648048
          75%: 521.0813429744869
          95%: 814.2673841433547
          99%: 968.5843864500517
        99.9%: 1078.0593785352048

    mean: 315.28565081622423
    std: 268.3970587346213
    variance: 72036.98113739573
    skewness: 0.6692328468008234
    kurtosis: -0.6466508654814107
    whisker_top: 1143.994736
    whisker_bottom: -5.926853503

ColumnProfile:
    column_name: h3_CLOAD
    type: FieldType.DECIMAL

    min: 4950.318471
    max: 15894.58599
    count: 33653.0
    missing_count: 0.0
    not_missing_count: 33653.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: >1000


    Quantiles (est.):
         0.1%: 5771.879366768229
           1%: 6541.173219630731
           5%: 6529.075808647058
          25%: 7076.073813711178
          50%: 7948.106331327934
          75%: 8787.339044306522
          95%: 11415.5971733142
          99%: 13170.076569537427
        99.9%: 14450.91923559256

    mean: 8178.58238852149
    std: 1518.848301938836
    variance: 2306900.164302485
    skewness: 1.2931242595640915
    kurtosis: 1.9525924632967753
    whisker_top: 11309.552186441719
    whisker_bottom: 4950.318471

### Summarizing hourly data to daily

In [35]:
# summarize h_ts_dflow to daily
def generate_summary_column(column_name,column_suffix,summary_function):
    return dprep.SummaryColumnsValue(
                column_id=column_name,
                summary_column_name=column_name+'_'+column_suffix,
                summary_function=summary_function)

def generate_summary_columns(dflow):
    summary_columns = []
    for key in h_ts_dflow.get_profile().columns.keys():
        if key != 'MYDATE' and key != 'DATETIME':
            summary_columns.append(generate_summary_column(key,'MAX',dprep.SummaryFunction.MAX))
            summary_columns.append(generate_summary_column(key,'MIN',dprep.SummaryFunction.MIN))
            summary_columns.append(generate_summary_column(key,'MEAN',dprep.SummaryFunction.MEAN))
            summary_columns.append(generate_summary_column(key,'MEDIAN',dprep.SummaryFunction.MEDIAN))
    return summary_columns

h_ts_summarized_dflow = h_ts_dflow.summarize(
    summary_columns=generate_summary_columns(h_ts_dflow),
    group_by_columns=['MYDATE'],
    join_back=False)

h_ts_summarized_dflow.head(4)

,MYDATE,h1_N1_MAX,h1_N1_MIN,h1_N1_MEAN,h1_N1_MEDIAN,h1_S1_MAX,h1_S1_MIN,h1_S1_MEAN,h1_S1_MEDIAN,h1_Z1_MAX,...,h2_N1_MEAN,h2_N1_MEDIAN,h2_S1_MAX,h2_S1_MIN,h2_S1_MEAN,h2_S1_MEDIAN,h3_CLOAD_MAX,h3_CLOAD_MIN,h3_CLOAD_MEAN,h3_CLOAD_MEDIAN
0,2012-01-01,77.964809,2.776551,21.051649,3.091959,783.017506,-5.092978,222.621629,-3.729854,228.803038,...,91.617776,92.262092,79.607589,32.513153,51.655914,45.377755,8648.726115,6912.420382,7469.662144,7235.987261
1,2012-01-02,55.436481,3.040615,15.320979,3.084408,568.235076,-5.019124,153.208645,-3.756280,210.288054,...,23.196309,22.833188,87.108025,32.716647,59.034386,62.987688,8713.694268,6604.458599,7497.895320,7326.751592
2,2012-01-03,70.889146,3.056631,17.834587,3.153653,493.581704,-4.856099,125.727916,-3.735742,140.487076,...,18.935850,18.291605,249.495041,53.387736,137.928525,143.000892,8788.853503,6448.407643,7332.414844,7118.152866
3,2012-01-04,39.108446,3.045873,10.545203,3.152172,281.776172,-4.759627,60.874459,-3.723787,153.746898,...,32.246362,4.398803,144.913226,18.507299,49.848768,39.022344,9407.324841,6308.598726,7978.011631,8285.668790

In [36]:
h_ts_summarized_dflow.get_profile()

ColumnProfile:
    column_name: MYDATE
    type: FieldType.DATE

    min: 2012-01-01 00:00:00+00:00
    max: 2016-02-29 00:00:00+00:00
    count: 1505.0
    missing_count: 0.0
    not_missing_count: 1505.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: >1000


ColumnProfile:
    column_name: h1_N1_MAX
    type: FieldType.DECIMAL

    min: -1.042105096
    max: 473.7128726
    count: 1505.0
    missing_count: 0.0
    not_missing_count: 1505.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: >1000


    Quantiles (est.):
         0.1%: -0.9196207483
           1%: 92.91408669555557
           5%: 92.91408669555557
          25%: 187.5665252723214
          50%: 266.4479106875
          75%: 366.6092918
          95%: 435.05865310181815
          99%: 451.471633107
        99.9%: 470.64598892599946

    mean: 261.12653434023906
    std: 122.05933674372744
    variance: 14898.481686318652
    skewness: -0.39105070550159454
    kurtosis: -0.5832754870519343
    whisker_top: 473.7128726
    whisker_bottom: -1.042105096

ColumnProfile:
    column_name: h1_N1_MIN
    type: FieldType.DECIMAL

    min: -32.79379299
    max: 7.919933121
    count: 1505.0
    missing_count: 0.0
    not_missing_count: 1505.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: >1000


    Quantiles (est.):
         0.1%: -11.50858511425
           1%: -1.1432433381428573
           5%: -1.1444813467142858
          25%: -1.033915227046875
          50%: -0.8195058108070176
          75%: -0.5633831754884259
          95%: 0.92884963075
          99%: 3.179491157140002
        99.9%: 7.21482947402998

    mean: -0.6620731108677737
    std: 1.3419782412116874
    variance: 1.800905599885614
    skewness: -9.378380696657636
    kurtosis: 231.36684694168352
    whisker_top: 0.09834568609090909
    whisker_bottom: -1.591625796

ColumnProfile:
    column_name: h1_N1_MEAN
    type: FieldType.DECIMAL

    min: -1.042105096
    max: 216.83677667200004
    count: 1505.0
    missing_count: 0.0
    not_missing_count: 1505.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: >1000


    Quantiles (est.):
         0.1%: -0.9196207483
           1%: 20.179502761607402
           5%: 20.179502761607402
          25%: 55.937384988570635
          50%: 88.21335458624394
          75%: 139.9058568341115
          95%: 194.14381616464294
          99%: 209.5460245770107
        99.9%: 216.5360656439789

    mean: 95.51936692703016
    std: 56.1388377234839
    variance: 3151.5691009436596
    skewness: 0.20356414623492788
    kurtosis: -0.7801060757238742
    whisker_top: 216.83677667200004
    whisker_bottom: -1.042105096

ColumnProfile:
    column_name: h1_N1_MEDIAN
    type: FieldType.DECIMAL

    min: -10.71383917
    max: 231.2925796
    count: 1505.0
    missing_count: 0.0
    not_missing_count: 1505.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: >1000


    Quantiles (est.):
         0.1%: -1.1600195219549998
           1%: -0.8503628298877552
           5%: -0.8562663785000001
          25%: -0.5938599901834822
          50%: 4.1053077108530305
          75%: 58.548462443028214
          95%: 161.10366724286362
          99%: 190.9981725128167
        99.9%: 203.92871372749985

    mean: 35.07976428467243
    std: 52.14279925782392
    variance: 2718.8715144417224
    skewness: 1.5257488898499383
    kurtosis: 1.3621964835013154
    whisker_top: 146.69284659666667
    whisker_bottom: -10.71383917

ColumnProfile:
    column_name: h1_S1_MAX
    type: FieldType.DECIMAL

    min: -9.050716561
    max: 2437.806994
    count: 1505.0
    missing_count: 0.0
    not_missing_count: 1505.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: >1000


    Quantiles (est.):
         0.1%: -8.631586815199999
           1%: 780.3989001732143
           5%: 751.413234475
          25%: 1339.5399607749998
          50%: 1616.7475571725493
          75%: 2015.5997604801137
          95%: 2320.9265806636363
          99%: 2399.83649156
        99.9%: 2430.051159309999

    mean: 1564.3220058943039
    std: 591.61397044467
    variance: 350007.0900253069
    skewness: -1.088558139558012
    kurtosis: 0.9842942206019623
    whisker_top: 2437.806994
    whisker_bottom: 449.7802664333334

ColumnProfile:
    column_name: h1_S1_MIN
    type: FieldType.DECIMAL

    min: -14.54673885
    max: 16.87984713
    count: 1505.0
    missing_count: 0.0
    not_missing_count: 1505.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: >1000


    Quantiles (est.):
         0.1%: -14.3929869574
           1%: -8.957387105020407
           5%: -8.975635122571429
          25%: -8.145198806775568
          50%: -6.87571966565
          75%: -3.9679293380867424
          95%: -1.2178985821023809
          99%: 3.413755732606674
        99.9%: 12.961691481714547

    mean: -6.061126131553489
    std: 3.007284458177555
    variance: 9.043759812396269
    skewness: 1.3250962522992986
    kurtosis: 4.114933905649862
    whisker_top: 1.9164118896666666
    whisker_bottom: -14.40926433

ColumnProfile:
    column_name: h1_S1_MEAN
    type: FieldType.DECIMAL

    min: -9.050716561
    max: 1057.3597192415002
    count: 1505.0
    missing_count: 0.0
    not_missing_count: 1505.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: >1000


    Quantiles (est.):
         0.1%: -8.631586815199999
           1%: 206.1885287767685
           5%: 189.26242904284376
          25%: 413.54111161995934
          50%: 562.4996276925128
          75%: 740.2100466331917
          95%: 953.4992791782661
          99%: 1012.6532013641161
        99.9%: 1047.7755175528312

    mean: 553.9408148809569
    std: 255.41047244058706
    variance: 65234.50943232388
    skewness: -0.39350023567074577
    kurtosis: -0.2675765553916811
    whisker_top: 1057.3597192415002
    whisker_bottom: -9.050716561

ColumnProfile:
    column_name: h1_S1_MEDIAN
    type: FieldType.DECIMAL

    min: -10.203976115
    max: 781.35336465
    count: 1505.0
    missing_count: 0.0
    not_missing_count: 1505.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: >1000


    Quantiles (est.):
         0.1%: -9.8571628499675
           1%: -6.8023987526354155
           5%: -6.837987898100001
          25%: -2.8495865424767093
          50%: 28.636834428064237
          75%: 272.2005252570625
          95%: 590.3978508624999
          99%: 688.8117465981668
        99.9%: 762.8360519477484

    mean: 148.79780251658687
    std: 203.33679090295857
    variance: 41345.85053471349
    skewness: 1.2002229392936659
    kurtosis: 0.21592507713199316
    whisker_top: 682.4922642833334
    whisker_bottom: -10.203976115

ColumnProfile:
    column_name: h1_Z1_MAX
    type: FieldType.DECIMAL

    min: -1.625547771
    max: 563.445465
    count: 1505.0
    missing_count: 0.0
    not_missing_count: 1505.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: >1000


    Quantiles (est.):
         0.1%: -1.567831735845
           1%: 166.22274506369743
           5%: 156.60591991428572
          25%: 291.913339290377
          50%: 378.88768622000003
          75%: 463.76362921989585
          95%: 526.1881321563637
          99%: 552.6929560473334
        99.9%: 562.10340385

    mean: 357.4542301696988
    std: 139.67922800197246
    variance: 19510.286735227008
    skewness: -1.0200929585170522
    kurtosis: 0.6160737950653665
    whisker_top: 563.445465
    whisker_bottom: 44.316002547299995

ColumnProfile:
    column_name: h1_Z1_MIN
    type: FieldType.DECIMAL

    min: -2.303792994
    max: 5.032617834
    count: 1505.0
    missing_count: 0.0
    not_missing_count: 1505.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: >1000


    Quantiles (est.):
         0.1%: -2.140431050945
           1%: -1.8280915118163266
           5%: -1.8349317561428573
          25%: -1.6658817516725002
          50%: -1.4671522078084034
          75%: -1.0887415585795455
          95%: 0.11123446309880952
          99%: 4.128371178300003
        99.9%: 4.956180191449997

    mean: -1.2334748799136201
    std: 0.9537505938636699
    variance: 0.909640195295303
    skewness: 3.9663956840816974
    kurtosis: 19.122729045064283
    whisker_top: -0.2734394905714286
    whisker_bottom: -2.303792994

ColumnProfile:
    column_name: h1_Z1_MEAN
    type: FieldType.DECIMAL

    min: -1.625547771
    max: 239.62203516874993
    count: 1505.0
    missing_count: 0.0
    not_missing_count: 1505.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: >1000


    Quantiles (est.):
         0.1%: -1.567831735845
           1%: 34.723440339786166
           5%: 32.45243396521518
          25%: 83.37669271545379
          50%: 120.75142774508933
          75%: 166.55656669526337
          95%: 214.94162438904547
          99%: 231.49763598193508
        99.9%: 237.58565217371265

    mean: 121.09841382341703
    std: 59.944834984358565
    variance: 3593.383241301978
    skewness: -0.24779760432440323
    kurtosis: -0.582402914594844
    whisker_top: 239.62203516874993
    whisker_bottom: -1.625547771

ColumnProfile:
    column_name: h1_Z1_MEDIAN
    type: FieldType.DECIMAL

    min: -1.8257149685
    max: 183.9278822
    count: 1505.0
    missing_count: 0.0
    not_missing_count: 1505.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: >1000


    Quantiles (est.):
         0.1%: -1.82502550196
           1%: -1.4886103216721611
           5%: -1.4931528662142857
          25%: -1.1486502230447801
          50%: 4.363382386629399
          75%: 55.864816454562494
          95%: 123.96015536348216
          99%: 150.34145701137498
        99.9%: 164.8333702809494

    mean: 30.202511239518238
    std: 42.704341880923
    variance: 1823.6608154827545
    skewness: 1.2606655207301423
    kurtosis: 0.4514797900261849
    whisker_top: 139.23120024624998
    whisker_bottom: -1.8257149685

ColumnProfile:
    column_name: h2_N1_MAX
    type: FieldType.DECIMAL

    min: -0.876044586
    max: 458.0684076
    count: 1505.0
    missing_count: 0.0
    not_missing_count: 1505.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: >1000


    Quantiles (est.):
         0.1%: -0.044598790104999994
           1%: 38.63025437802083
           5%: 37.3296839175
          25%: 108.10155709925
          50%: 243.9596303115789
          75%: 344.7238745737179
          95%: 417.17829979909095
          99%: 432.8173364006667
        99.9%: 449.14316173249966

    mean: 227.74206264235036
    std: 130.95771745382905
    variance: 17149.923760716923
    skewness: -0.16133405057725989
    kurtosis: -1.2999718526151711
    whisker_top: 458.0684076
    whisker_bottom: -0.876044586

ColumnProfile:
    column_name: h2_N1_MIN
    type: FieldType.DECIMAL

    min: -3.655433121
    max: 432.3597452
    count: 1505.0
    missing_count: 0.0
    not_missing_count: 1505.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: >1000


    Quantiles (est.):
         0.1%: -3.411799729015
           1%: -1.950812607415873
           5%: -1.9816755131111112
          25%: -0.1400083042475
          50%: 15.793325177285906
          75%: 78.81913138160574
          95%: 250.71356617249998
          99%: 332.4527442491668
        99.9%: 388.2464430504997

    mean: 56.70756802104714
    std: 83.95057108809276
    variance: 7047.698386016916
    skewness: 1.7525465443334505
    kurtosis: 2.342663316498192
    whisker_top: 196.96765416000002
    whisker_bottom: -3.655433121

ColumnProfile:
    column_name: h2_N1_MEAN
    type: FieldType.DECIMAL

    min: -1.3310406052083337
    max: 432.3597452
    count: 1505.0
    missing_count: 0.0
    not_missing_count: 1505.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: >1000


    Quantiles (est.):
         0.1%: -1.3262101267225
           1%: 11.76585023365278
           5%: 11.297713129708333
          25%: 36.52558818387197
          50%: 110.11327917833474
          75%: 211.56644716052747
          95%: 326.0835987323413
          99%: 374.26690773366664
        99.9%: 423.20584310114424

    mean: 131.00616369385898
    std: 105.52393419312908
    variance: 11135.300687595836
    skewness: 0.595678406204304
    kurtosis: -0.7447336145993511
    whisker_top: 432.3597452
    whisker_bottom: -1.3310406052083337

ColumnProfile:
    column_name: h2_N1_MEDIAN
    type: FieldType.DECIMAL

    min: -2.1864713375
    max: 440.01839970000003
    count: 1505.0
    missing_count: 0.0
    not_missing_count: 1505.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: >1000


    Quantiles (est.):
         0.1%: -2.0452551275775
           1%: 4.31258809955102
           5%: 4.1493728388571425
          25%: 23.319621722282736
          50%: 94.54615680851516
          75%: 215.7666393292187
          95%: 339.34530717202375
          99%: 395.95857345500013
        99.9%: 432.3226410362492

    mean: 126.82210532761533
    std: 114.68952082437656
    variance: 13153.686186925104
    skewness: 0.6655097460452847
    kurtosis: -0.7725429998720421
    whisker_top: 440.01839970000003
    whisker_bottom: -2.1864713375

ColumnProfile:
    column_name: h2_S1_MAX
    type: FieldType.DECIMAL

    min: 6.323968153
    max: 1143.994736
    count: 1505.0
    missing_count: 0.0
    not_missing_count: 1505.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: >1000


    Quantiles (est.):
         0.1%: 11.6410646201
           1%: 114.88692212095239
           5%: 111.23113287142857
          25%: 282.22329356425
          50%: 549.1865883123967
          75%: 748.8093026733333
          95%: 974.1686449977271
          99%: 1076.2997593633336
        99.9%: 1142.800775774998

    mean: 525.9243577222139
    std: 284.9514112368782
    variance: 81197.30676588845
    skewness: -0.07491383496030848
    kurtosis: -1.02518227116547
    whisker_top: 1143.994736
    whisker_bottom: 6.323968153

ColumnProfile:
    column_name: h2_S1_MIN
    type: FieldType.DECIMAL

    min: -5.926853503
    max: 1033.238261
    count: 1505.0
    missing_count: 0.0
    not_missing_count: 1505.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: >1000


    Quantiles (est.):
         0.1%: -5.470391258339999
           1%: 7.231036689607842
           5%: 6.725860934166667
          25%: 21.598557867828124
          50%: 65.85076203350877
          75%: 232.7292118540278
          95%: 562.9577770640001
          99%: 705.3685011286669
        99.9%: 912.317156225498

    mean: 155.15131772729976
    std: 186.58075630854358
    variance: 34812.37862466813
    skewness: 1.4724262165076016
    kurtosis: 1.4113613074081908
    whisker_top: 547.49541974
    whisker_bottom: -5.926853503

ColumnProfile:
    column_name: h2_S1_MEAN
    type: FieldType.DECIMAL

    min: -0.36400291916666666
    max: 1033.238261
    count: 1505.0
    missing_count: 0.0
    not_missing_count: 1505.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: >1000


    Quantiles (est.):
         0.1%: 1.444427888244239
           1%: 54.01450048867814
           5%: 52.83620812800336
          25%: 123.65541462848867
          50%: 288.42752375157266
          75%: 479.78391796777004
          95%: 738.3421843797504
          99%: 874.9200472109172
        99.9%: 1007.824757043249

    mean: 322.63542793580746
    std: 227.1771053948669
    variance: 51609.43721559047
    skewness: 0.5513629507971074
    kurtosis: -0.606250927561244
    whisker_top: 1007.8713503875
    whisker_bottom: -0.36400291916666666

ColumnProfile:
    column_name: h2_S1_MEDIAN
    type: FieldType.DECIMAL

    min: -1.223148089
    max: 1033.238261
    count: 1505.0
    missing_count: 0.0
    not_missing_count: 1505.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: >1000


    Quantiles (est.):
         0.1%: 0.6863444265025002
           1%: 37.72511571535714
           5%: 36.928490444999994
          25%: 91.14101916353175
          50%: 272.63873654010416
          75%: 508.9269355651785
          95%: 761.463563650625
          99%: 889.7899057479168
        99.9%: 1023.1384166894974

    mean: 315.2985655598168
    std: 243.37654250193268
    variance: 59232.14144019504
    skewness: 0.5458457669258838
    kurtosis: -0.776864823367176
    whisker_top: 1033.238261
    whisker_bottom: -1.223148089

ColumnProfile:
    column_name: h3_CLOAD_MAX
    type: FieldType.DECIMAL

    min: 6676.751592
    max: 15894.58599
    count: 1505.0
    missing_count: 0.0
    not_missing_count: 1505.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: >1000


    Quantiles (est.):
         0.1%: 6717.27866219
           1%: 8239.420133987012
           5%: 8227.343039285714
          25%: 8703.727706972499
          50%: 9203.229299353849
          75%: 10193.325062709957
          95%: 13149.3726127
          99%: 14156.647557300003
        99.9%: 15066.065287049989

    mean: 9680.429989223252
    std: 1585.0884742963183
    variance: 2512505.47134703
    skewness: 1.220493716705645
    kurtosis: 0.9781088299615597
    whisker_top: 12348.991508333334
    whisker_bottom: 6676.751592

ColumnProfile:
    column_name: h3_CLOAD_MIN
    type: FieldType.DECIMAL

    min: 4950.318471
    max: 10864.01274
    count: 1505.0
    missing_count: 0.0
    not_missing_count: 1505.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: >1000


    Quantiles (est.):
         0.1%: 5431.457006624999
           1%: 6130.573248296703
           5%: 6128.025477571428
          25%: 6326.282266160525
          50%: 6570.708763763954
          75%: 7055.055732612501
          95%: 8223.23347925
          99%: 9550.488323025002
        99.9%: 10683.001589249976

    mean: 6791.247645857137
    std: 732.8999477456229
    variance: 537142.3334055367
    skewness: 1.7876122279751503
    kurtosis: 4.340218427841705
    whisker_top: 8123.0573248
    whisker_bottom: 5430.89172

ColumnProfile:
    column_name: h3_CLOAD_MEAN
    type: FieldType.DECIMAL

    min: 6272.093948999999
    max: 12360.084926041667
    count: 1505.0
    missing_count: 0.0
    not_missing_count: 1505.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: >1000


    Quantiles (est.):
         0.1%: 6285.709726642709
           1%: 7059.531392190476
           5%: 7059.531392190476
          25%: 7452.693554386614
          50%: 7879.161483314575
          75%: 8682.426738610338
          95%: 10496.912998937038
          99%: 11204.516188959133
        99.9%: 11899.313295887205

    mean: 8186.250987848118
    std: 1094.7184398914603
    variance: 1198408.4626383928
    skewness: 1.065716868611279
    kurtosis: 0.5751602283144401
    whisker_top: 10490.755388673007
    whisker_bottom: 6272.093948999999

ColumnProfile:
    column_name: h3_CLOAD_MEDIAN
    type: FieldType.DECIMAL

    min: 5961.942675
    max: 12531.687895
    count: 1505.0
    missing_count: 0.0
    not_missing_count: 1505.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: >1000


    Quantiles (est.):
         0.1%: 6006.196656135
           1%: 6930.716560485715
           5%: 6903.184713285715
          25%: 7424.732749441668
          50%: 8010.09540358961
          75%: 8716.718152881875
          95%: 10456.229433895835
          99%: 11242.928611062502
        99.9%: 12119.49442912497

    mean: 8190.75184628737
    std: 1118.9837434014673

## Extra Featurization on X1 and X2

### Working with Quantiles

In [37]:
# leverage the profile metadata for the data set, with a ColumnProfile for each column

profile = d_ts_dflow.get_profile()
columns = profile.columns

print(f"\nColumn Profile:{columns['X2']}")
print(f"\nQuantiles for X2:{columns['X2'].quantiles}")
print(f"\n5% Quantile for X2:{columns['X2'].quantiles[0.05]}")
print(f"\n95% Quantile for X2:{columns['X2'].quantiles[0.95]}")

Column Profile:ColumnProfile:
    column_name: X2
    type: FieldType.DECIMAL

    min: 0.0
    max: 250844.586
    count: 1521.0
    missing_count: 0.0
    not_missing_count: 1521.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: >1000


    Quantiles (est.):
         0.1%: 32.81847133448
           1%: 8180.228844465713
           5%: 7911.4251592499995
          25%: 22444.050994708625
          50%: 41917.202349230756
          75%: 60445.47031359524
          95%: 109849.66558588893
          99%: 196398.03740324985
        99.9%: 245757.63693440022

    mean: 46665.98114717059
    std: 35988.24225665022
    variance: 1295153580.7233446
    skewness: 1.9228822892849444
    kurtosis: 6.208639001801183
    whisker_top: 115663.05732857143
    whisker_bottom: 0.0


Quantiles for X2:OrderedDict([(0.001, 32.81847133448), (0.01, 8180.228844465713), (0.05, 7911.4251592499995), (0.25, 22444.050994708625), (0.5, 41917.202349230756), (0.75, 60445.47031359524), (0.95, 109849.66558588893), (0.99, 196398.03740324985), (0.999, 245757.63693440022)])

5% Quantile for X2:7911.4251592499995

95% Quantile for X2:109849.66558588893

In [38]:
# Grabbing quantile information as variables for further featurization of X2
X2_column_profile = d_ts_dflow.get_profile().columns['X2']
X2_quantile_005 = X2_column_profile.quantiles[0.05]
X2_quantile_095 = X2_column_profile.quantiles[0.95]

# mapping function to update the dataflow, this gets executed in parallel for each dataflow partition
def update_X2_with_quantiles(df, index):
    df.loc[df['X2'] < X2_quantile_005, 'X2'] = X2_quantile_005
    df.loc[df['X2'] > X2_quantile_095, 'X2'] = X2_quantile_095
    #df['X2_original'] = df['X2']
    return df

d_ts_features_dflow = d_ts_dflow.map_partition(fn=update_X2_with_quantiles)
d_ts_features_dflow.head(5)

       RDATE    X1           X2
0 2012-01-01  59.8  47365.60510
1 2012-01-02  62.0  48127.07006
2 2012-01-03  62.0  54601.27389
3 2012-01-04  63.4  74656.36943
4 2012-01-05  55.4  87156.68790

### Generating new column for 'TEMP' of X1

In [39]:
# we can use custom script to code any type of logic to generate new columns, but this is slower than the 'map_partition
# above which can run in parallel when multiple partitions are applied
d_ts_features_dflow = d_ts_features_dflow.new_script_column(new_column_name='X1_TEMP', insert_after='X1', script="""
def newvalue(row):
    value = 'MEDIUM'
    if row['X1'] > 80:
        value = 'HOT'
    if row['X1'] < 60:
        value = 'COLD'
    return value
""")
d_ts_features_dflow.head(5)

       RDATE    X1 X1_TEMP           X2
0 2012-01-01  59.8    COLD  47365.60510
1 2012-01-02  62.0  MEDIUM  48127.07006
2 2012-01-03  62.0  MEDIUM  54601.27389
3 2012-01-04  63.4  MEDIUM  74656.36943
4 2012-01-05  55.4    COLD  87156.68790

### One Hot Encoding of 'X1_TEMP'

In [40]:
d_ts_features_dflow = d_ts_features_dflow.one_hot_encode(source_column='X1_TEMP')
d_ts_features_dflow.head(5)

,RDATE,X1,X1_TEMP,X1_TEMP_MEDIUM,X1_TEMP_HOT,X1_TEMP_COLD,X2
0,2012-01-01,59.8,COLD,0,0,1,47365.60510
1,2012-01-02,62.0,MEDIUM,1,0,0,48127.07006
2,2012-01-03,62.0,MEDIUM,1,0,0,54601.27389
3,2012-01-04,63.4,MEDIUM,1,0,0,74656.36943
4,2012-01-05,55.4,COLD,0,0,1,87156.68790

### Lag Variables on X2

In [41]:
# mapping function to update the dataflow with Lags
def update_X2_with_lags(df, index):
    df['X2_lag_1'] = df['X2'].shift(-1)
    df['X2_lag_7'] = df['X2'].shift(-7)
    df['X2_rolling_7'] = df['X2'].rolling(7).mean()
    return df
d_ts_features_dflow = d_ts_features_dflow.map_partition(fn=update_X2_with_lags)
d_ts_features_dflow.head(10)

,RDATE,X1,X1_TEMP,X1_TEMP_MEDIUM,X1_TEMP_HOT,X1_TEMP_COLD,X2,X2_lag_1,X2_lag_7,X2_rolling_7
0,2012-01-01,59.8,COLD,0,0,1,47365.60510,48127.07006,89002.86624,NaN
1,2012-01-02,62.0,MEDIUM,1,0,0,48127.07006,54601.27389,59700.95541,NaN
2,2012-01-03,62.0,MEDIUM,1,0,0,54601.27389,74656.36943,55801.91083,NaN
3,2012-01-04,63.4,MEDIUM,1,0,0,74656.36943,87156.68790,64844.58599,NaN
4,2012-01-05,55.4,COLD,0,0,1,87156.68790,100811.78340,69787.89809,NaN
5,2012-01-06,54.8,COLD,0,0,1,100811.78340,75496.49682,37906.68790,NaN
6,2012-01-07,55.0,COLD,0,0,1,75496.49682,89002.86624,44400.00000,69745.040943
7,2012-01-08,58.6,COLD,0,0,1,89002.86624,59700.95541,49031.21019,75693.221106
8,2012-01-09,57.6,COLD,0,0,1,59700.95541,55801.91083,50068.15287,77346.633299
9,2012-01-10,58.8,COLD,0,0,1,55801.91083,64844.58599,52394.58599,77518.152861

### Impute missing values

In [42]:
# impute with MEAN: you can package as many imputation columns as needed in one builder
impute_mean_X2 = dprep.ImputeColumnArguments(column_id='X2',impute_function=dprep.ReplaceValueFunction.MEAN)
impute_mean_X2_lag_1 = dprep.ImputeColumnArguments(column_id='X2_lag_1',impute_function=dprep.ReplaceValueFunction.MEAN)
impute_mean_X2_lag_7 = dprep.ImputeColumnArguments(column_id='X2_lag_7',impute_function=dprep.ReplaceValueFunction.MEAN)
impute_mean_X2_rolling_7 = dprep.ImputeColumnArguments(column_id='X2_rolling_7',impute_function=dprep.ReplaceValueFunction.MEAN)
impute_builder = d_ts_features_dflow.builders.impute_missing_values(
    impute_columns=[impute_mean_X2,impute_mean_X2_lag_1,impute_mean_X2_lag_7,impute_mean_X2_rolling_7])
impute_builder.learn()
d_ts_features_dflow = impute_builder.to_dataflow()

d_ts_features_dflow.to_pandas_dataframe().head(10)

,RDATE,X1,X1_TEMP,X1_TEMP_MEDIUM,X1_TEMP_HOT,X1_TEMP_COLD,X2,X2_lag_1,X2_lag_7,X2_rolling_7
0,2012-01-01,59.8,COLD,0,0,1,47365.60510,48127.07006,89002.86624,NaN
1,2012-01-02,62.0,MEDIUM,1,0,0,48127.07006,54601.27389,59700.95541,NaN
2,2012-01-03,62.0,MEDIUM,1,0,0,54601.27389,74656.36943,55801.91083,NaN
3,2012-01-04,63.4,MEDIUM,1,0,0,74656.36943,87156.68790,64844.58599,NaN
4,2012-01-05,55.4,COLD,0,0,1,87156.68790,100811.78340,69787.89809,NaN
5,2012-01-06,54.8,COLD,0,0,1,100811.78340,75496.49682,37906.68790,NaN
6,2012-01-07,55.0,COLD,0,0,1,75496.49682,89002.86624,44400.00000,69745.040943
7,2012-01-08,58.6,COLD,0,0,1,89002.86624,59700.95541,49031.21019,75693.221106
8,2012-01-09,57.6,COLD,0,0,1,59700.95541,55801.91083,50068.15287,77346.633299
9,2012-01-10,58.8,COLD,0,0,1,55801.91083,64844.58599,52394.58599,77518.152861

## FINAL azureml-dataprep-sdk.py Script

In [43]:
# =======================
# azureml-dataprep-sdk.py
# =======================

h_ts_1_dflow = dprep.auto_read_file(h_ts_1_dr)
h_ts_2_dflow = dprep.auto_read_file(h_ts_2_dr)
h_ts_3_dflow = dprep.auto_read_file(h_ts_3_dr)
d_ts_1_dflow = dprep.auto_read_file(d_ts_1_dr)
d_ts_2_dflow = dprep.auto_read_file(d_ts_2_dr)

# Pivot data
h_ts_1_pivot_dflow = h_ts_1_dflow.pivot(['NODE_ID'],'MW',
                                        azureml.dataprep.api.engineapi.typedefinitions.SummaryFunction.MAX,
                                        ['MYDATE','HOUR'])
h_ts_2_pivot_dflow = h_ts_2_dflow.pivot(['NODE_ID'],'MW',
                                        azureml.dataprep.api.engineapi.typedefinitions.SummaryFunction.MAX,
                                        ['MYDATE','HOUR'])

# merge DATE and HOUR and update datatype for DATETIME column
def ts_merge_date_hour_to_datetime(dflow, date_column_name, hour_column_name):
    # merge columns
    dflow = dflow.derive_column_by_example(
        source_columns = [date_column_name,hour_column_name],
        new_column_name = 'DATETIME',
        example_data = [({date_column_name: '1/1/2012', hour_column_name: '1'},    '01/01/2012 01:00'),
                        ({date_column_name: '10/10/2012', hour_column_name: '15'}, '10/10/2012 15:00'),
                        ({date_column_name: '1/17/2012', hour_column_name: '12'},  '01/17/2012 12:00')]
        ).drop_columns([hour_column_name])
    # update data type
    builder = dflow.builders.set_column_types()
    builder.learn()
    builder.conversion_candidates[date_column_name] = (dprep.FieldType.DATE, ['%m/%d/%Y'])
    builder.conversion_candidates['DATETIME'] = (dprep.FieldType.DATE, ['%m/%d/%Y %H:%M'])
    return builder.to_dataflow()

# generate all DATETIME columns with proper data type
h_ts_1_pivot_dt_dflow = ts_merge_date_hour_to_datetime(h_ts_1_pivot_dflow,'MYDATE','HOUR')
h_ts_2_pivot_dt_dflow = ts_merge_date_hour_to_datetime(h_ts_2_pivot_dflow,'MYDATE','HOUR')
h_ts_3_dt_dflow =       ts_merge_date_hour_to_datetime(h_ts_3_dflow,      'DATE','HE')

# JOINING DATA SET h_ts_dflow=join(h1,h2,h3)
h_ts_dflow = dprep.Dataflow.join(
    dprep.Dataflow.join(h_ts_1_pivot_dt_dflow,
                        h_ts_2_pivot_dt_dflow,
                        join_key_pairs=[('DATETIME', 'DATETIME')],
                        left_column_prefix='h1_',right_column_prefix='h2_'
                       ).drop_columns(['h2_MYDATE','h2_DATETIME']).rename_columns({'h1_MYDATE':'MYDATE','h1_DATETIME':'DATETIME'}),
    h_ts_3_dt_dflow,
    join_key_pairs=[('DATETIME', 'DATETIME')],
    left_column_prefix='',
    right_column_prefix='h3_'
).drop_columns(['h3_DATE','h3_DATETIME'])

# JOINING DATA SET d_ts_dflow=join(d1,d2)
d_ts_dflow = dprep.Dataflow.join(
    d_ts_1_dflow,
    d_ts_2_dflow,
    join_key_pairs=[('RDATE', 'RDATE')],
    left_column_prefix='',
    right_column_prefix='r_').drop_columns(['r_RDATE']).rename_columns({'r_X2':'X2'})

# helper: generate summary column
def generate_summary_column(column_name,column_suffix,summary_function):
    return dprep.SummaryColumnsValue(
                column_id=column_name,
                summary_column_name=column_name+'_'+column_suffix,
                summary_function=summary_function)

# helper: generate summary column for a few functions for each column that's not DATETIME
def generate_summary_columns(dflow):
    summary_columns = []
    for key in h_ts_dflow.get_profile().columns.keys():
        if key != 'MYDATE' and key != 'DATETIME':
            summary_columns.append(generate_summary_column(key,'MAX',dprep.SummaryFunction.MAX))
            summary_columns.append(generate_summary_column(key,'MIN',dprep.SummaryFunction.MIN))
            summary_columns.append(generate_summary_column(key,'MEAN',dprep.SummaryFunction.MEAN))
            summary_columns.append(generate_summary_column(key,'MEDIAN',dprep.SummaryFunction.MEDIAN))
    return summary_columns

# summarize h_ts_dflow to daily
h_ts_summarized_dflow = h_ts_dflow.summarize(
    summary_columns=generate_summary_columns(h_ts_dflow),
    group_by_columns=['MYDATE'])

# FEATURIZATION of X2

# X2: replace X2 values with quantile values for < 5%, > 95%
X2_column_profile = d_ts_dflow.get_profile().columns['X2']
X2_quantile_005 = X2_column_profile.quantiles[0.05]
X2_quantile_095 = X2_column_profile.quantiles[0.95]
# mapping function to update the dataflow, this gets executed in parallel for each dataflow partition
def update_with_quantiles(df, index):
    df.loc[df['X2'] < X2_quantile_005, 'X2'] = X2_quantile_005
    df.loc[df['X2'] > X2_quantile_095, 'X2'] = X2_quantile_095
    return df
d_ts_features_dflow = d_ts_dflow.map_partition(fn=update_with_quantiles)

# X1: create an 'X1_TEMP' feature
# we can use custom script to code any type of logic to generate new columns, but this is slower than the 'map_partition
# above which can run in parallel when multiple partitions are applied
d_ts_features_dflow = d_ts_features_dflow.new_script_column(new_column_name='X1_TEMP', insert_after='X1', script="""
def newvalue(row):
    value = 'MEDIUM'
    if row['X1'] > 80:
        value = 'HOT'
    if row['X1'] < 60:
        value = 'COLD'
    return value
""")

# X1: One Hot Encoding of 'X1_TEMP'
d_ts_features_dflow = d_ts_features_dflow.one_hot_encode(source_column='X1_TEMP')

# X2: mapping function to update the dataflow with Lags
def update_X2_with_lags(df, index):
    df['X2_lag_1'] = df['X2'].shift(-1)
    df['X2_lag_7'] = df['X2'].shift(-7)
    df['X2_rolling_7'] = df['X2'].rolling(7).mean()
    return df
d_ts_features_dflow = d_ts_features_dflow.map_partition(fn=update_X2_with_lags)

# X2 (and X2 lags): impute with MEAN: you can package as many imputation columns as needed in one builder
impute_mean_X2 = dprep.ImputeColumnArguments(column_id='X2',impute_function=dprep.ReplaceValueFunction.MEAN)
impute_mean_X2_lag_1 = dprep.ImputeColumnArguments(column_id='X2_lag_1',impute_function=dprep.ReplaceValueFunction.MEAN)
impute_mean_X2_lag_7 = dprep.ImputeColumnArguments(column_id='X2_lag_7',impute_function=dprep.ReplaceValueFunction.MEAN)
impute_mean_X2_rolling_7 = dprep.ImputeColumnArguments(column_id='X2_rolling_7',impute_function=dprep.ReplaceValueFunction.MEAN)
impute_builder = d_ts_features_dflow.builders.impute_missing_values(
    impute_columns=[impute_mean_X2,impute_mean_X2_lag_1,impute_mean_X2_lag_7,impute_mean_X2_rolling_7])
impute_builder.learn()
d_ts_features_dflow = impute_builder.to_dataflow()

# join h and d series
training_dflow = dprep.Dataflow.join(
    h_ts_summarized_dflow,
    d_ts_features_dflow,
    join_key_pairs=[('MYDATE', 'RDATE')],
    left_column_prefix='',
    right_column_prefix='r_').drop_columns(['r_RDATE']).rename_columns(
        {'MYDATE':'DATETIME',
         'r_X1':'X1','r_X2':'X2',
         'r_X1_TEMP':'X1_TEMP',
         'r_X1_TEMP_COLD':'X1_TEMP_COLD','r_X1_TEMP_MEDIUM':'X1_TEMP_MEDIUM','r_X1_TEMP_HOT':'X1_TEMP_HOT',
         'r_X2_lag_1':'X2_lag_1','r_X2_lag_7':'X2_lag_7','r_X2_rolling_7':'X2_rolling_7'
        })

# ===========================
# EOF azureml-dataprep-sdk.py
# ===========================

In [44]:
# check head
training_dflow.head(10)

,DATETIME,h1_N1_MAX,h1_N1_MIN,h1_N1_MEAN,h1_N1_MEDIAN,h1_S1_MAX,h1_S1_MIN,h1_S1_MEAN,h1_S1_MEDIAN,h1_Z1_MAX,...,h3_CLOAD_MEDIAN,X1,X1_TEMP,X1_TEMP_MEDIUM,X1_TEMP_HOT,X1_TEMP_COLD,X2,X2_lag_1,X2_lag_7,X2_rolling_7
0,2012-01-01,77.964809,2.776551,21.051649,3.091959,783.017506,-5.092978,222.621629,-3.729854,228.803038,...,7235.987261,59.8,COLD,0,0,1,47365.60510,48127.07006,89002.86624,NaN
1,2012-01-02,55.436481,3.040615,15.320979,3.084408,568.235076,-5.019124,153.208645,-3.756280,210.288054,...,7326.751592,62.0,MEDIUM,1,0,0,48127.07006,54601.27389,59700.95541,NaN
2,2012-01-03,70.889146,3.056631,17.834587,3.153653,493.581704,-4.856099,125.727916,-3.735742,140.487076,...,7118.152866,62.0,MEDIUM,1,0,0,54601.27389,74656.36943,55801.91083,NaN
3,2012-01-04,39.108446,3.045873,10.545203,3.152172,281.776172,-4.759627,60.874459,-3.723787,153.746898,...,8285.668790,63.4,MEDIUM,1,0,0,74656.36943,87156.68790,64844.58599,NaN
4,2012-01-05,50.598615,3.050436,9.410610,3.281084,138.688640,-4.402857,24.784628,-3.940164,106.742688,...,8669.426752,55.4,COLD,0,0,1,87156.68790,100811.78340,69787.89809,NaN
5,2012-01-06,63.747131,3.205822,14.104283,3.233854,459.298678,-4.688280,114.269030,-3.818143,177.649086,...,8805.095541,54.8,COLD,0,0,1,100811.78340,75496.49682,37906.68790,NaN
6,2012-01-07,75.660309,3.127787,21.082898,3.196659,495.259169,-5.234389,101.290197,-3.414150,185.476666,...,8396.656051,55.0,COLD,0,0,1,75496.49682,89002.86624,44400.00000,69745.040943
7,2012-01-09,61.936949,3.340841,14.772332,3.674479,814.336490,-6.486188,209.323265,-5.278658,77.274029,...,7571.496816,57.6,COLD,0,0,1,59700.95541,55801.91083,50068.15287,77346.633299
8,2012-01-10,68.557357,3.452258,18.315124,3.541989,696.400790,-6.712863,156.085049,-5.232861,78.915102,...,7139.331210,58.8,COLD,0,0,1,55801.91083,64844.58599,52394.58599,77518.152861
9,2012-01-11,91.834946,0.355290,25.447751,3.477470,990.411955,-6.604443,273.632990,-5.252368,209.934016,...,8033.439491,60.8,MEDIUM,1,0,0,64844.58599,69787.89809,53425.15924,76116.469513

In [45]:
# check profile
training_dflow.get_profile()

ColumnProfile:
    column_name: DATETIME
    type: FieldType.DATE

    min: 2012-01-01 00:00:00+00:00
    max: 2016-02-29 00:00:00+00:00
    count: 1505.0
    missing_count: 0.0
    not_missing_count: 1505.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: >1000


ColumnProfile:
    column_name: h1_N1_MAX
    type: FieldType.DECIMAL

    min: -1.042105096
    max: 473.7128726
    count: 1505.0
    missing_count: 0.0
    not_missing_count: 1505.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: >1000


    Quantiles (est.):
         0.1%: -0.9196207483
           1%: 92.91408669555557
           5%: 92.91408669555557
          25%: 187.5665252723214
          50%: 266.4479106875
          75%: 366.6092918
          95%: 435.05865310181815
          99%: 451.471633107
        99.9%: 470.64598892599946

    mean: 261.12653434023906
    std: 122.05933674372744
    variance: 14898.481686318652
    skewness: -0.39105070550159454
    kurtosis: -0.5832754870519343
    whisker_top: 473.7128726
    whisker_bottom: -1.042105096

ColumnProfile:
    column_name: h1_N1_MIN
    type: FieldType.DECIMAL

    min: -32.79379299
    max: 7.919933121
    count: 1505.0
    missing_count: 0.0
    not_missing_count: 1505.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: >1000


    Quantiles (est.):
         0.1%: -11.50858511425
           1%: -1.1432433381428573
           5%: -1.1444813467142858
          25%: -1.033915227046875
          50%: -0.8195058108070176
          75%: -0.5633831754884259
          95%: 0.92884963075
          99%: 3.179491157140002
        99.9%: 7.21482947402998

    mean: -0.6620731108677737
    std: 1.3419782412116874
    variance: 1.800905599885614
    skewness: -9.378380696657636
    kurtosis: 231.36684694168352
    whisker_top: 0.09834568609090909
    whisker_bottom: -1.591625796

ColumnProfile:
    column_name: h1_N1_MEAN
    type: FieldType.DECIMAL

    min: -1.042105096
    max: 216.83677667200004
    count: 1505.0
    missing_count: 0.0
    not_missing_count: 1505.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: >1000


    Quantiles (est.):
         0.1%: -0.9196207483
           1%: 20.179502761607402
           5%: 20.179502761607402
          25%: 55.937384988570635
          50%: 88.21335458624394
          75%: 139.9058568341115
          95%: 194.14381616464294
          99%: 209.5460245770107
        99.9%: 216.5360656439789

    mean: 95.51936692703016
    std: 56.1388377234839
    variance: 3151.5691009436596
    skewness: 0.20356414623492788
    kurtosis: -0.7801060757238742
    whisker_top: 216.83677667200004
    whisker_bottom: -1.042105096

ColumnProfile:
    column_name: h1_N1_MEDIAN
    type: FieldType.DECIMAL

    min: -10.71383917
    max: 231.2925796
    count: 1505.0
    missing_count: 0.0
    not_missing_count: 1505.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: >1000


    Quantiles (est.):
         0.1%: -1.1600195219549998
           1%: -0.8503628298877552
           5%: -0.8562663785000001
          25%: -0.5938599901834822
          50%: 4.1053077108530305
          75%: 58.548462443028214
          95%: 161.10366724286362
          99%: 190.9981725128167
        99.9%: 203.92871372749985

    mean: 35.07976428467243
    std: 52.14279925782392
    variance: 2718.8715144417224
    skewness: 1.5257488898499383
    kurtosis: 1.3621964835013154
    whisker_top: 146.69284659666667
    whisker_bottom: -10.71383917

ColumnProfile:
    column_name: h1_S1_MAX
    type: FieldType.DECIMAL

    min: -9.050716561
    max: 2437.806994
    count: 1505.0
    missing_count: 0.0
    not_missing_count: 1505.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: >1000


    Quantiles (est.):
         0.1%: -8.631586815199999
           1%: 780.3989001732143
           5%: 751.413234475
          25%: 1339.5399607749998
          50%: 1616.7475571725493
          75%: 2015.5997604801137
          95%: 2320.9265806636363
          99%: 2399.83649156
        99.9%: 2430.051159309999

    mean: 1564.3220058943039
    std: 591.61397044467
    variance: 350007.0900253069
    skewness: -1.088558139558012
    kurtosis: 0.9842942206019623
    whisker_top: 2437.806994
    whisker_bottom: 449.7802664333334

ColumnProfile:
    column_name: h1_S1_MIN
    type: FieldType.DECIMAL

    min: -14.54673885
    max: 16.87984713
    count: 1505.0
    missing_count: 0.0
    not_missing_count: 1505.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: >1000


    Quantiles (est.):
         0.1%: -14.3929869574
           1%: -8.957387105020407
           5%: -8.975635122571429
          25%: -8.145198806775568
          50%: -6.87571966565
          75%: -3.9679293380867424
          95%: -1.2178985821023809
          99%: 3.413755732606674
        99.9%: 12.961691481714547

    mean: -6.061126131553489
    std: 3.007284458177555
    variance: 9.043759812396269
    skewness: 1.3250962522992986
    kurtosis: 4.114933905649862
    whisker_top: 1.9164118896666666
    whisker_bottom: -14.40926433

ColumnProfile:
    column_name: h1_S1_MEAN
    type: FieldType.DECIMAL

    min: -9.050716561
    max: 1057.3597192415002
    count: 1505.0
    missing_count: 0.0
    not_missing_count: 1505.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: >1000


    Quantiles (est.):
         0.1%: -8.631586815199999
           1%: 206.1885287767685
           5%: 189.26242904284376
          25%: 413.54111161995934
          50%: 562.4996276925128
          75%: 740.2100466331917
          95%: 953.4992791782661
          99%: 1012.6532013641161
        99.9%: 1047.7755175528312

    mean: 553.9408148809569
    std: 255.41047244058706
    variance: 65234.50943232388
    skewness: -0.39350023567074577
    kurtosis: -0.2675765553916811
    whisker_top: 1057.3597192415002
    whisker_bottom: -9.050716561

ColumnProfile:
    column_name: h1_S1_MEDIAN
    type: FieldType.DECIMAL

    min: -10.203976115
    max: 781.35336465
    count: 1505.0
    missing_count: 0.0
    not_missing_count: 1505.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: >1000


    Quantiles (est.):
         0.1%: -9.8571628499675
           1%: -6.8023987526354155
           5%: -6.837987898100001
          25%: -2.8495865424767093
          50%: 28.636834428064237
          75%: 272.2005252570625
          95%: 590.3978508624999
          99%: 688.8117465981668
        99.9%: 762.8360519477484

    mean: 148.79780251658687
    std: 203.33679090295857
    variance: 41345.85053471349
    skewness: 1.2002229392936659
    kurtosis: 0.21592507713199316
    whisker_top: 682.4922642833334
    whisker_bottom: -10.203976115

ColumnProfile:
    column_name: h1_Z1_MAX
    type: FieldType.DECIMAL

    min: -1.625547771
    max: 563.445465
    count: 1505.0
    missing_count: 0.0
    not_missing_count: 1505.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: >1000


    Quantiles (est.):
         0.1%: -1.567831735845
           1%: 166.22274506369743
           5%: 156.60591991428572
          25%: 291.913339290377
          50%: 378.88768622000003
          75%: 463.76362921989585
          95%: 526.1881321563637
          99%: 552.6929560473334
        99.9%: 562.10340385

    mean: 357.4542301696988
    std: 139.67922800197246
    variance: 19510.286735227008
    skewness: -1.0200929585170522
    kurtosis: 0.6160737950653665
    whisker_top: 563.445465
    whisker_bottom: 44.316002547299995

ColumnProfile:
    column_name: h1_Z1_MIN
    type: FieldType.DECIMAL

    min: -2.303792994
    max: 5.032617834
    count: 1505.0
    missing_count: 0.0
    not_missing_count: 1505.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: >1000


    Quantiles (est.):
         0.1%: -2.140431050945
           1%: -1.8280915118163266
           5%: -1.8349317561428573
          25%: -1.6658817516725002
          50%: -1.4671522078084034
          75%: -1.0887415585795455
          95%: 0.11123446309880952
          99%: 4.128371178300003
        99.9%: 4.956180191449997

    mean: -1.2334748799136201
    std: 0.9537505938636699
    variance: 0.909640195295303
    skewness: 3.9663956840816974
    kurtosis: 19.122729045064283
    whisker_top: -0.2734394905714286
    whisker_bottom: -2.303792994

ColumnProfile:
    column_name: h1_Z1_MEAN
    type: FieldType.DECIMAL

    min: -1.625547771
    max: 239.62203516874993
    count: 1505.0
    missing_count: 0.0
    not_missing_count: 1505.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: >1000


    Quantiles (est.):
         0.1%: -1.567831735845
           1%: 34.723440339786166
           5%: 32.45243396521518
          25%: 83.37669271545379
          50%: 120.75142774508933
          75%: 166.55656669526337
          95%: 214.94162438904547
          99%: 231.49763598193508
        99.9%: 237.58565217371265

    mean: 121.09841382341703
    std: 59.944834984358565
    variance: 3593.383241301978
    skewness: -0.24779760432440323
    kurtosis: -0.582402914594844
    whisker_top: 239.62203516874993
    whisker_bottom: -1.625547771

ColumnProfile:
    column_name: h1_Z1_MEDIAN
    type: FieldType.DECIMAL

    min: -1.8257149685
    max: 183.9278822
    count: 1505.0
    missing_count: 0.0
    not_missing_count: 1505.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: >1000


    Quantiles (est.):
         0.1%: -1.82502550196
           1%: -1.4886103216721611
           5%: -1.4931528662142857
          25%: -1.1486502230447801
          50%: 4.363382386629399
          75%: 55.864816454562494
          95%: 123.96015536348216
          99%: 150.34145701137498
        99.9%: 164.8333702809494

    mean: 30.202511239518238
    std: 42.704341880923
    variance: 1823.6608154827545
    skewness: 1.2606655207301423
    kurtosis: 0.4514797900261849
    whisker_top: 139.23120024624998
    whisker_bottom: -1.8257149685

ColumnProfile:
    column_name: h2_N1_MAX
    type: FieldType.DECIMAL

    min: -0.876044586
    max: 458.0684076
    count: 1505.0
    missing_count: 0.0
    not_missing_count: 1505.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: >1000


    Quantiles (est.):
         0.1%: -0.044598790104999994
           1%: 38.63025437802083
           5%: 37.3296839175
          25%: 108.10155709925
          50%: 243.9596303115789
          75%: 344.7238745737179
          95%: 417.17829979909095
          99%: 432.8173364006667
        99.9%: 449.14316173249966

    mean: 227.74206264235036
    std: 130.95771745382905
    variance: 17149.923760716923
    skewness: -0.16133405057725989
    kurtosis: -1.2999718526151711
    whisker_top: 458.0684076
    whisker_bottom: -0.876044586

ColumnProfile:
    column_name: h2_N1_MIN
    type: FieldType.DECIMAL

    min: -3.655433121
    max: 432.3597452
    count: 1505.0
    missing_count: 0.0
    not_missing_count: 1505.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: >1000


    Quantiles (est.):
         0.1%: -3.411799729015
           1%: -1.950812607415873
           5%: -1.9816755131111112
          25%: -0.1400083042475
          50%: 15.793325177285906
          75%: 78.81913138160574
          95%: 250.71356617249998
          99%: 332.4527442491668
        99.9%: 388.2464430504997

    mean: 56.70756802104714
    std: 83.95057108809276
    variance: 7047.698386016916
    skewness: 1.7525465443334505
    kurtosis: 2.342663316498192
    whisker_top: 196.96765416000002
    whisker_bottom: -3.655433121

ColumnProfile:
    column_name: h2_N1_MEAN
    type: FieldType.DECIMAL

    min: -1.3310406052083337
    max: 432.3597452
    count: 1505.0
    missing_count: 0.0
    not_missing_count: 1505.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: >1000


    Quantiles (est.):
         0.1%: -1.3262101267225
           1%: 11.76585023365278
           5%: 11.297713129708333
          25%: 36.52558818387197
          50%: 110.11327917833474
          75%: 211.56644716052747
          95%: 326.0835987323413
          99%: 374.26690773366664
        99.9%: 423.20584310114424

    mean: 131.00616369385898
    std: 105.52393419312908
    variance: 11135.300687595836
    skewness: 0.595678406204304
    kurtosis: -0.7447336145993511
    whisker_top: 432.3597452
    whisker_bottom: -1.3310406052083337

ColumnProfile:
    column_name: h2_N1_MEDIAN
    type: FieldType.DECIMAL

    min: -2.1864713375
    max: 440.01839970000003
    count: 1505.0
    missing_count: 0.0
    not_missing_count: 1505.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: >1000


    Quantiles (est.):
         0.1%: -2.0452551275775
           1%: 4.31258809955102
           5%: 4.1493728388571425
          25%: 23.319621722282736
          50%: 94.54615680851516
          75%: 215.7666393292187
          95%: 339.34530717202375
          99%: 395.95857345500013
        99.9%: 432.3226410362492

    mean: 126.82210532761533
    std: 114.68952082437656
    variance: 13153.686186925104
    skewness: 0.6655097460452847
    kurtosis: -0.7725429998720421
    whisker_top: 440.01839970000003
    whisker_bottom: -2.1864713375

ColumnProfile:
    column_name: h2_S1_MAX
    type: FieldType.DECIMAL

    min: 6.323968153
    max: 1143.994736
    count: 1505.0
    missing_count: 0.0
    not_missing_count: 1505.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: >1000


    Quantiles (est.):
         0.1%: 11.6410646201
           1%: 114.88692212095239
           5%: 111.23113287142857
          25%: 282.22329356425
          50%: 549.1865883123967
          75%: 748.8093026733333
          95%: 974.1686449977271
          99%: 1076.2997593633336
        99.9%: 1142.800775774998

    mean: 525.9243577222139
    std: 284.9514112368782
    variance: 81197.30676588845
    skewness: -0.07491383496030848
    kurtosis: -1.02518227116547
    whisker_top: 1143.994736
    whisker_bottom: 6.323968153

ColumnProfile:
    column_name: h2_S1_MIN
    type: FieldType.DECIMAL

    min: -5.926853503
    max: 1033.238261
    count: 1505.0
    missing_count: 0.0
    not_missing_count: 1505.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: >1000


    Quantiles (est.):
         0.1%: -5.470391258339999
           1%: 7.231036689607842
           5%: 6.725860934166667
          25%: 21.598557867828124
          50%: 65.85076203350877
          75%: 232.7292118540278
          95%: 562.9577770640001
          99%: 705.3685011286669
        99.9%: 912.317156225498

    mean: 155.15131772729976
    std: 186.58075630854358
    variance: 34812.37862466813
    skewness: 1.4724262165076016
    kurtosis: 1.4113613074081908
    whisker_top: 547.49541974
    whisker_bottom: -5.926853503

ColumnProfile:
    column_name: h2_S1_MEAN
    type: FieldType.DECIMAL

    min: -0.36400291916666666
    max: 1033.238261
    count: 1505.0
    missing_count: 0.0
    not_missing_count: 1505.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: >1000


    Quantiles (est.):
         0.1%: 1.444427888244239
           1%: 54.01450048867814
           5%: 52.83620812800336
          25%: 123.65541462848867
          50%: 288.42752375157266
          75%: 479.78391796777004
          95%: 738.3421843797504
          99%: 874.9200472109172
        99.9%: 1007.824757043249

    mean: 322.63542793580746
    std: 227.1771053948669
    variance: 51609.43721559047
    skewness: 0.5513629507971074
    kurtosis: -0.606250927561244
    whisker_top: 1007.8713503875
    whisker_bottom: -0.36400291916666666

ColumnProfile:
    column_name: h2_S1_MEDIAN
    type: FieldType.DECIMAL

    min: -1.223148089
    max: 1033.238261
    count: 1505.0
    missing_count: 0.0
    not_missing_count: 1505.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: >1000


    Quantiles (est.):
         0.1%: 0.6863444265025002
           1%: 37.72511571535714
           5%: 36.928490444999994
          25%: 91.14101916353175
          50%: 272.63873654010416
          75%: 508.9269355651785
          95%: 761.463563650625
          99%: 889.7899057479168
        99.9%: 1023.1384166894974

    mean: 315.2985655598168
    std: 243.37654250193268
    variance: 59232.14144019504
    skewness: 0.5458457669258838
    kurtosis: -0.776864823367176
    whisker_top: 1033.238261
    whisker_bottom: -1.223148089

ColumnProfile:
    column_name: h3_CLOAD_MAX
    type: FieldType.DECIMAL

    min: 6676.751592
    max: 15894.58599
    count: 1505.0
    missing_count: 0.0
    not_missing_count: 1505.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: >1000


    Quantiles (est.):
         0.1%: 6717.27866219
           1%: 8239.420133987012
           5%: 8227.343039285714
          25%: 8703.727706972499
          50%: 9203.229299353849
          75%: 10193.325062709957
          95%: 13149.3726127
          99%: 14156.647557300003
        99.9%: 15066.065287049989

    mean: 9680.429989223252
    std: 1585.0884742963183
    variance: 2512505.47134703
    skewness: 1.220493716705645
    kurtosis: 0.9781088299615597
    whisker_top: 12348.991508333334
    whisker_bottom: 6676.751592

ColumnProfile:
    column_name: h3_CLOAD_MIN
    type: FieldType.DECIMAL

    min: 4950.318471
    max: 10864.01274
    count: 1505.0
    missing_count: 0.0
    not_missing_count: 1505.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: >1000


    Quantiles (est.):
         0.1%: 5431.457006624999
           1%: 6130.573248296703
           5%: 6128.025477571428
          25%: 6326.282266160525
          50%: 6570.708763763954
          75%: 7055.055732612501
          95%: 8223.23347925
          99%: 9550.488323025002
        99.9%: 10683.001589249976

    mean: 6791.247645857137
    std: 732.8999477456229
    variance: 537142.3334055367
    skewness: 1.7876122279751503
    kurtosis: 4.340218427841705
    whisker_top: 8123.0573248
    whisker_bottom: 5430.89172

ColumnProfile:
    column_name: h3_CLOAD_MEAN
    type: FieldType.DECIMAL

    min: 6272.093948999999
    max: 12360.084926041667
    count: 1505.0
    missing_count: 0.0
    not_missing_count: 1505.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: >1000


    Quantiles (est.):
         0.1%: 6285.709726642709
           1%: 7059.531392190476
           5%: 7059.531392190476
          25%: 7452.693554386614
          50%: 7879.161483314575
          75%: 8682.426738610338
          95%: 10496.912998937038
          99%: 11204.516188959133
        99.9%: 11899.313295887205

    mean: 8186.250987848118
    std: 1094.7184398914603
    variance: 1198408.4626383928
    skewness: 1.065716868611279
    kurtosis: 0.5751602283144401
    whisker_top: 10490.755388673007
    whisker_bottom: 6272.093948999999

ColumnProfile:
    column_name: h3_CLOAD_MEDIAN
    type: FieldType.DECIMAL

    min: 5961.942675
    max: 12531.687895
    count: 1505.0
    missing_count: 0.0
    not_missing_count: 1505.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: >1000


    Quantiles (est.):
         0.1%: 6006.196656135
           1%: 6930.716560485715
           5%: 6903.184713285715
          25%: 7424.732749441668
          50%: 8010.09540358961
          75%: 8716.718152881875
          95%: 10456.229433895835
          99%: 11242.928611062502
        99.9%: 12119.49442912497

    mean: 8190.75184628737
    std: 1118.9837434014673

In [46]:
# test output
training_dflow.write_to_csv(directory_path='training_dflow.csv').run_local()

## Creating RunConfiguration

In [47]:
from azureml.core.runconfig import RunConfiguration
from azureml.core.runconfig import DEFAULT_CPU_IMAGE
from azureml.core.conda_dependencies import CondaDependencies

# create a new runconfig object
run_config = RunConfiguration()

# enable Docker 
run_config.environment.docker.enabled = True

# set Docker base image to the default CPU-based image
run_config.environment.docker.base_image = DEFAULT_CPU_IMAGE

# use conda_dependencies.yml to create a conda environment in the Docker image for execution
run_config.environment.python.user_managed_dependencies = False

# specify dependencies
#run_config.environment.python.conda_dependencies = CondaDependencies.create(
#    conda_packages=['pandas'],
#    pip_packages=['azureml-sdk', 'azureml-dataprep[fuse,pandas]', 'azureml-train-automl'], 
#    pin_sdk_version=False)
run_config.environment.python.conda_dependencies = CondaDependencies(
    conda_dependencies_file_path='data-prep-pipeline.yml')

#
print("== Run Configuration created")

== Run Configuration created

## Creating Pipeline

In [48]:
# The best practice is to use separate folders for scripts and its dependent files
# for each step and specify that folder as the source_directory for the step.
# This helps reduce the size of the snapshot created for the step (only the specific folder is snapshotted).
# Since changes in any files in the source_directory would trigger a re-upload of the snapshot, this helps
# keep the reuse of the step when there are no changes in the source_directory of the step.
source_directory_dataprep = 'src/azureml-dataprep-sdk'

# inputs
h_ts_1_dr = DataReference(datastore=blob_store,data_reference_name="h_ts_1",path_on_datastore="datasets/time-series/S_ACTUALS.csv")
h_ts_2_dr = DataReference(datastore=blob_store,data_reference_name="h_ts_2",path_on_datastore="datasets/time-series/W_ACTUALS.csv")
h_ts_3_dr = DataReference(datastore=blob_store,data_reference_name="h_ts_3",path_on_datastore="datasets/time-series/C_LOAD.csv")
d_ts_1_dr = DataReference(datastore=blob_store,data_reference_name="d_ts_1",path_on_datastore="datasets/time-series/X1.csv")
d_ts_2_dr = DataReference(datastore=blob_store,data_reference_name="d_ts_2",path_on_datastore="datasets/time-series/X2.csv")

# output
d_use_case_1_dataprep_sdk_pd = PipelineData("d_use_case_1_dataprep_sdk",datastore=blob_store)

# Step
use_case_1_dataprep_sdk_step = PythonScriptStep(
    script_name="azureml-dataprep-sdk.py",
    arguments=[ "--h_ts_1", h_ts_1_dr, "--h_ts_2", h_ts_2_dr, "--h_ts_3", h_ts_3_dr,
                "--d_ts_1", d_ts_1_dr, "--d_ts_2", d_ts_2_dr,
                "--output", d_use_case_1_dataprep_sdk_pd ],
    inputs=[h_ts_1_dr,h_ts_2_dr,h_ts_3_dr,
            d_ts_1_dr,d_ts_2_dr],
    outputs=[d_use_case_1_dataprep_sdk_pd],
    compute_target=aml_compute,
    source_directory=source_directory_dataprep,
    runconfig=run_config
)

print("== PythonScriptStep use_case_1_dataprep_step created")

== PythonScriptStep use_case_1_dataprep_step created

### Build the pipeline and submit an Experiment run

In [49]:
pipeline = Pipeline(workspace=ws, steps=[use_case_1_dataprep_sdk_step])
print ("== Pipeline is built")

== Pipeline is built

In [ ]:
pipeline_run = Experiment(ws, 'use-case-1-dataprep-sdk').submit(pipeline)
print("== Pipeline is submitted for execution")

In [51]:
RunDetails(pipeline_run).show()

_PipelineWidget(widget_settings={'childWidgetDisplay': 'popup', 'send_telemetry': False, 'log_level': 'INFO',

### Wait for pipeline run to complete

In [ ]:
pipeline_run.wait_for_completion(show_output=True)

### See Outputs

See where outputs of each pipeline step are located on your datastore.

***Wait for pipeline run to complete, to make sure all the outputs are ready***

In [53]:
# Get Steps
for step in pipeline_run.get_steps():
    print("== Outputs of step " + step.name)
    
    # Get a dictionary of StepRunOutputs with the output name as the key 
    output_dict = step.get_outputs()
    
    for name, output in output_dict.items():
        output_reference = output.get_port_data_reference() # Get output port data reference
        print("\tname: " + name)
        print("\tdatastore: " + output_reference.datastore_name)
        print("\tpath on datastore: " + output_reference.path_on_datastore)

== Outputs of step azureml-dataprep-sdk.py
	name: d_use_case_1_dataprep_sdk
	datastore: workspaceblobstore
	path on datastore: azureml/1ffa8568-4425-4c0d-aeb1-a66c8ba024a8/d_use_case_1_dataprep_sdk

In [54]:
# REGISTER a new version of the final output as a Dataset

from azureml.core import Dataset, Datastore
from azureml.data.datapath import DataPath

# find output dataset
for step in pipeline_run.get_steps():
    output_dict = step.get_outputs()
    for name, output in output_dict.items():
        if name == 'd_use_case_1_dataprep_sdk':
            # generate a Tabular DataSet for it
            output_reference = output.get_port_data_reference()
            datastore_path = [DataPath(blob_store, output_reference.path_on_datastore)]
            ds = Dataset.Tabular.from_delimited_files(datastore_path)
            dataset_name = 'd_use_case_1_dataprep_sdk'
            ds.register(ws, name=dataset_name, create_new_version=True)
            print("== Registered new version of dataset: " + dataset_name)

== Registered new version of dataset: d_use_case_1_dataprep_sdk